{include file="common/header" /}
<script src="{$laydate}/laydate.js"></script>

<body>
{include file="common/top_nav" /}

<div class="main clearfix">
    {include file="common/left_nav" /}
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#from_time' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#to_time' //指定元素
        });
    </script>
    <div class="container income scroll">
        <div class="box init b1">
            <div class="title">收益统计 <span>Income statistics</span>
            </div>
            <div class="table">
                <form action="" method="get">
                    <div class="bar">
                        <select name="goodlistid">
                            <option value="">全部商品</option>
                            {volist name="goodlist_arr" id="vo"}
                            <option value="{$vo.goodlistid}" {:input('goodlistid')==$vo.goodlistid?"selected":'';}>{$vo.goodname}</option>
                            {/volist}
                        </select>
                        <span class="t1">开始日期：</span>
                        <input style="cursor: pointer" type="text" name="from_time" id="from_time" class="time" value="{:input('from_time')}" placeholder="请选择开始日期" readonly>
                        <span class="t1">结束日期：</span>
                        <input style="cursor: pointer" type="text" name="to_time" id="to_time" class="time" value="{:input('to_time')}" placeholder="请选择结束日期" readonly>
                        <span class="t1">支付类型：</span>
                        <select name="channelid">
                            <option value="">全部</option>
                            {volist name="paychannel_arr" id="vo"}
                            <option value="{$vo.channelid}" {:input('channelid')==$vo.channelid?"selected":'';}>{$vo.channelname}</option>
                            {/volist}
                        </select>
                        <!--<span class="t1 t2">选择类型：</span>-->
                        <select name="ktype" id="">
                            <option value="order" {:input('ktype')=='order'?"selected":'';}>订单号</option>
                            <option value="contact" {:input('ktype')=='contact'?"selected":'';}>购买者信息</option>
                        </select>
                        <input type="text" name="keyword" value="{:input('keyword')}" placeholder="请输入关键字搜索">
                        <button class="btn1">查询</button>
                        <button class="btn2" type="button" onclick="export_income()">批量导出</button>
                    </div>
                    <input type="hidden" name="do" value="search">
                </form>
                <table>
                    <thead>
                    <tr>
                        <td>商品名称</td>
                        <td>数量</td>
                        <td>成本</td>
                        <td>单价</td>
                        <td>总价</td>
                        <td>收入</td>
                        <td>利润</td>
                        <td>支付方式</td>
                        <td>下单时间</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.goodname}</td>
                        <td>{$vo.quantity}</td>
                        <td><a href="" class="orange">{$vo.cost?$vo.cost:'0.00'}</a></td>
                        <td>{$vo.price}</td>
                        <td>{$vo.paymoney}</td>
                        <td>{$vo.paymoney*$vo.userproportion}</td>
                        <td><a href="" class="orange">{$vo.paymoney*$vo.userproportion-$vo.cost*$vo.quantity}</a></td>
                        <td>{$vo.channelname}</td>
                        <td>{$vo.addtime}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="pagination">
                    {$page}
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function export_income() {
        var from_time = $('input[name="from_time"]').val();
        var to_time = $('input[name="to_time"]').val();
        var goodlistid = $('select[name="goodlistid"]').val();
        var ktype = $('input[name="ktype"]').val();
        var keyword = $('input[name="keyword"]').val();
        if(from_time==''||to_time=='') {
            layer.msg('请选择日期范围');
        }else {
            window.location.href = "/user/income/exportincome/from_time/" + from_time + "/to_time/" + to_time+"/goodlistid/"+goodlistid+"/ktype/"+ktype+"/keyword/"+keyword;
        }
    }
</script>
{include file="common/footer" /}
