<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{$qtarr['sitename']} - {$qtarr.sitetile}</title>
    <meta name="description" content="{$qtarr.description}" />
    <meta name="keywords" content="{$qtarr.sitekeyword}" />
    <meta name="baidu-site-verification" content="{$qtarr.baidu_verification}" />

    <link rel="stylesheet" href="{$css}/iconfont.css">
    <link rel="stylesheet" href="{$css}/animate.min.css">
    <link rel="stylesheet" href="{$css}/main.css">
    <!--<link rel="stylesheet" href="__CSS__/main.css">-->
    <script src="{$js}/jquery-2.2.1.min.js"></script>
    <script src="{$js}/jquery.fullPage.min.js"></script>
    <script src="{$js}/wow.min.js"></script>
    <script src="{$layer}/layer.js"></script>
</head>