<!--头部-->
<header class="header_fix" style="position: relative">
    <div class="container">
        <div class="logo">{$qtarr.sitename}</div>
        <nav>
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/#page3">优势</a></li>
                <li><a href="/#page5">联系</a></li>
                <li><a href="{:url('index/help')}">帮助</a></li>
                <li><a href="{:url('/orderquery')}"><i class="iconfont icon-sousuo"></i> 订单查询</a></li>
                {if(isset($tousu)&&$tousu==1)}
                <li><a href="/tousu?orderid={:input('kw')}"> 投诉订单</a></li>
                <script>
                    $('.container').css('width', '1400px');
                </script>
                {/if}
                <li><a href="{:url('tousu/search')}">[投诉查询]</a></li>
                <li><a href="{:url('/login')}">登录</a></li>
                <li><a href="{:url('/register')}" class="reg_btn">注册</a></li>
            </ul>
        </nav>
    </div>
</header>