{include file="common/header" /}
	<body class="login_bg">
		<div class="header">
			<div class="center">
				<div class="center app_center" style="position: relative">
					<div class="app_cen">
						<div class="app_lf l"><img src="{$images}/shouji.png" /></div>
						<div class="app_rg l">
							<h3>{$qtarr.sitename}手机客户端</h3>
							<p class="app_rg_title">全响应式界面，简约易操作，一站式寄售卡，为你稳定服务</p>
							<div class="app_rg_img">
								<img src="{$images}/appewm.jpg" style="width: 240px;height: 240px;" />
							</div>
							<div class="app_rg_btn">
								<p class="l"><img src="{$images}/Android.png" />支持安卓客户端</p>
								<p class="l"><img src="{$images}/iphone.png" />支持苹果客户端</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>