{include file="common/header" /}
<link href="{$open}/openin.css" rel="stylesheet">
<link href="{$open}/open.css" rel="stylesheet">
<link rel="stylesheet" href="{$flag}/font-awesome.min.css">
<style>
    .icon{
        text-align: center;
    }
    .laydate-set-ym {
        height: 30px;
        line-height: 30px;
        margin-top: -3px;
    }
    .main {
        margin-top: 70px;
    }
</style>

<body>
<?php $controller=request()->controller(); ?>
<?php $action=request()->action(); ?>
{include file="common/top_nav" /}
{include file="common/left_nav" /}
<div class="main auto pt60">
    <div class="main_wrap">
        {include file="set/set" /}
        <div class="m_content system_content">
            <form class="layui-form" action="" id="ajaxform">
                <div class="system_base">
                    <div class="row clearfix">
                        <span class="tit">用户审核</span>
                        <div class="info">
                            <div class="system_select">
                                <select name="is_verify">
                                    <option value="1" {$list.is_verify=='1'?'selected':''}>开启审核</option>
                                    <option value="0" {$list.is_verify=='0'?'selected':''}>暂时关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <span class="tit">用户注册</span>
                        <div class="info">
                            <div class="system_select">
                                <select name="is_register">
                                    <option value="1" {$list.is_register=='1'?'selected':''}>开启注册</option>
                                    <option value="0" {$list.is_register=='0'?'selected':''}>暂时关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <span class="tit">短信验证</span>
                        <div class="info">
                            <div class="system_select">
                                <select name="is_sms">
                                    <option value="1" {$list.is_sms=='1'?'selected':''}>开启验证</option>
                                    <option value="0" {$list.is_sms=='0'?'selected':''}>暂时关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <span class="tit">注册码注册</span>
                        <div class="info">
                            <div class="system_select">
                                <select name="is_license">
                                    <option value="1" {$list.is_license=='1'?'selected':''}>开启</option>
                                    <option value="0" {$list.is_license=='0'?'selected':''}>关闭</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="button" value="保存设置" class="ipt_button" onclick="submitform();return false;"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function submitform() {
        $.post(
            "{:url('set/editsave')}",
            $("#ajaxform").serialize(),
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.parent.location.reload();
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        );
    }
</script>
<script>
    layui.use(['form'], function () {
    });
</script>
{include file="common/footer" /}
