        <div class="m_top clearfix">
            <div class="system_menu clearfix">
                <a href="{:url('set/index')}" class="lk {$controller=='Set'&&$action=='index'?'cur':''}">基本设置</a>
                <a href="{:url('set/linkurl')}" class="lk {$controller=='Set'&&$action=='linkurl'?'cur':''}">域名设置</a>
                <a href="{:url('set/contact')}" class="lk {$controller=='Set'&&$action=='contact'?'cur':''}">联系方式</a>
                <a href="{:url('set/theme')}" class="lk {$controller=='Set'&&$action=='theme'?'cur':''}">模版风格</a>
                <a href="{:url('set/withdraw')}" class="lk {$controller=='Set'&&$action=='withdraw'?'cur':''}">提现功能</a>
                <a href="{:url('set/email')}" class="lk {$controller=='Set'&&$action=='email'?'cur':''}">邮件服务</a>
                <a href="{:url('set/fliterkey')}" class="lk {$controller=='Set'&&$action=='fliterkey'?'cur':''}">字词过滤</a>
                <a href="{:url('set/reg')}" class="lk {$controller=='Set'&&$action=='reg'?'cur':''}">注册设置</a>
                <a href="{:url('set/st')}" class="lk {$controller=='Set'&&$action=='st'?'cur':''}">网站开关</a>
                <a href="{:url('set/zf')}" class="lk {$controller=='Set'&&$action=='zf'?'cur':''}">轮询</a>
                <a href="{:url('set/dwz')}" class="lk {$controller=='Set'&&$action=='dwz'?'cur':''}">短网址</a>
                <a href="{:url('set/sms')}" class="lk {$controller=='Set'&&$action=='sms'?'cur':''}">发送消息</a>
                <!--<a href="{:url('set/index')}" class="lk">代付接口</a>-->
            </div>

        </div>
        <style>
            .pt60{
                width: 1490px;
            }
        </style>