{include file="common/header" /}
<style>
        .ts_title{
            height:48px;
            text-align:center;
            line-height:48px;
            font-size:16px;
            background:#389ef3;
            border-top-left-radius:3px;
            border-top-right-radius:3px;
            color:#fff;
        }
        .ts_con {
            padding:30px 0;
            position:relative;
        }
        .ts_con p{
            height:40px;
            width: 100%;
            background:#fff;
            border:1px solid #eee;
            border-radius:2px;
            line-height:40px;
            margin-bottom:20px;
        }
        .ts_con p span{
            width:80px;
            font-size:14px;
            background:#389ef3;
            display:block;
            float:left;
            border-top-left-radius:2px;
            border-bottom-left-radius:2px;
            color:#fff;
            text-align:center;
            margin-right:10px;
        }
        .ts_con p input,.ts_con p select{
            width: calc(100% - 100px);
            border:none;
            font-size:12px;
            outline:none;
            letter-spacing:1px;
            height: 38px;
        }
        .ts_con p textarea{
            width:calc(100% - 100px);
            height:195px;
            border:none;
            font-size:12px;
            line-height:24px;
            outline:none;
            letter-spacing:1px;
            resize: none;
        }
        .btn_ts{
            display:block;
            border:none;
            height:48px;
            width:200px;
            line-height:48px;
            background:#389ef3;
            color:#fff;
            margin:0 auto;
            border-radius:2px;
            font-weight:bold;
        }
        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }
        .shili img{
            position:absolute;
            top:38px;
            left:0;
        }
    </style>
<body style="background: url('{$images}/se5_bg.jpg')">
{include file="common/orhter_top_nav" /}
<div class="se5_card" style="margin-top: 40px;margin-bottom: 60px">
    <div class="ts_title">
        订 单 投 诉
    </div>
    <div class="ts_con">
        <form action="{:url('tousu/toususave')}" method='post' style="padding: 0 20px;" id="ajaxform" enctype="multipart/form-data">
            <p><span>订单编号</span><input name="report_orderid" type="text" value="<?php echo $_GET['orderid']; ?>"></p>
            <p><span>举报原因</span><select name="report_type"><option value="">--请选择投诉原因--</option>
                <option value="无效卡密">无效卡密</option>
                <option value="虚假商品">虚假商品</option>
                <option value="非法商品">非法商品</option>
                <option value="侵权商品">侵权商品</option>
                <option value="不能购买">不能购买</option>
                <option value="恐怖色情">恐怖色情</option>
                <option value="其他投诉">其他投诉</option>
            </select></p>
            <p><span>联系方式</span><input name="report_contact" type="text" placeholder="请填写您的联系方式，推荐QQ号"></p>
            <p><span>手机号码</span><input name="report_telephone" type="text" placeholder="用于接收撤销密码，请认真填写"></p>
            <p><span>付款截图</span>
                <label style="display:inline-block;height: 34px;padding: 0 40px;line-height: 34px;text-align:center;border: 2px dashed #ddd;font-size: 14px;color: #389ef3;margin-top: 1px;">+ 上传图片
                    <input type="file" accept=".jpg,.jpeg,.bmp,.png,.gif" style="display: none" onchange="Uploadimg('report_img_show','report_pay_img')" id="report_pay_img" name="report_pay_img" placeholder="请上传您的付款凭证截图！">
                </label>
            </p>
            <!--截图示例-->
            <img id="report_img_show" style="width: 200px;height: 200px;display: none;margin-bottom: 20px" src="" alt="" onclick="window.open(this.src)">
            <p style="height:200px;"><span style="height:200px; line-height:200px;">详情说明</span><textarea name="maijia_remark" placeholder="请具体说明问题，如：卡密无法正常充值，卖家不处理等"></textarea></p>
            <button type="submit" class="btn_ts" onclick="submitform();return false;">提交投诉</button>
        </form>
    </div>
</div>
<script>
    /**
     * 上传缩略图版本
     */
    function Uploadimg(showimgid,fileid) {
        var eImg = $('#'+showimgid);
//        console.log(getObjectURL($('#'+inputid)[0].files[0]));
        eImg.show().attr('src', getObjectURL($('#'+fileid)[0].files[0])); // 或 this.files[0] this->input $(this).after(eImg);});
    }
    /*
     * 获取文件绝对路径
     */
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) {
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) {
            url = window.webkitURL.createObjectURL(file) ;
        } return url ;
    }
</script>
<script>
    function submitform() {
        var flag = false;
        //检查 订单编号
        var report_orderid = $("input[name='report_orderid").val();
        var reg=/^(\w){16}$/;
        if(report_orderid.length!=16||!reg.test(report_orderid)){
            layer.msg('订单编号不正确，请您先进行订单搜索，再投诉！',{icon:2,time:2000},function () {
                window.location.href = "/orderquery";
            });
            return false;
        }
        //检查 举报原因
        var report_type = $("select[name='report_type").val();
        var reg=/^(\w){4}$/;
        if(report_type==''||report_type==null||report_type==undefined){
            layer.msg('--请选择投诉原因--',{icon:2,time:2000});
            return false;
        }
        //检查 联系方式
        var report_contact = $("input[name='report_contact").val();
        var reg=/^(\w){6,20}$/;
        if(report_contact.length<6||!reg.test(report_contact)){
            layer.msg('请填写您的联系方式，推荐QQ号',{icon:2,time:2000});
            return false;
        }
        //检查 手机号码
        var report_telephone = $("input[name='report_telephone").val();
        var reg=/^(\d){11}$/;
        if(report_telephone.length<11||!reg.test(report_telephone)){
            layer.msg('请输入11位手机号',{icon:2,time:2000});
            return false;
        }
        //检查 付款截图
        var report_pay_img = $("input[name='report_pay_img").val();
        if(report_pay_img==''||report_pay_img==null||report_pay_img==undefined){
            layer.msg('请先上传付款截图',{icon:2,time:2000});
            return false;
        }
        //检查 详情说明
        var maijia_remark = $("[name='maijia_remark").val();
        if(maijia_remark==''||maijia_remark==null||maijia_remark==undefined){
            layer.msg('请填写详情说明',{icon:2,time:2000});
            return false;
        }
        var formData = new FormData($( "#ajaxform" )[0]);//找到input，作为参数传递给FormData构造函数
        $.ajax({
            url: "{:url('tousu/toususave')}",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                data = eval("(" + data + ")");
                console.log(data);
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 7000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        // window.location.href = "/#page5";
                        window.location.href = "/orderquery?kw="+report_orderid;
                    });
                    // window.location.href = "/center";
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 10000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        });
    }
</script>
{include file="common/footer" /}
