{include file="common/header" /}
<link href="{$open}/openin.css" rel="stylesheet">
<link href="{$open}/open.css" rel="stylesheet">
<link rel="stylesheet" href="{$flag}/font-awesome.min.css">
<style>
    .icon{
        text-align: center;
    }
</style>

<body>
{include file="common/top_nav" /}
{include file="common/left_nav" /}
<div class="main auto">
    <div class="main_wrap">
        <div class="m_top clearfix">
            <div class="m_search fl clearfix">
                <form class="layui-form" action="">
                    <div class="s_box clearfix fl">
                        <div class="s_select fl">
                            <select name="ktype">
                                <option value="">全部类型</option>
                                <option value="userid" {:input('ktype')=='userid'?"selected":'';}>商户ID</option>
                                <option value="username" {:input('ktype')=='username'?"selected":'';}>商户名称</option>
                            </select>
                        </div>
                        <em class="y_line fl"></em>
                        <div class="s_input fl">
                            <input type="text" name="keyword" class="ipt ipt_txt" value="{:input('keyword')}"/>
                        </div>
                    </div>
                    <button class="search_btn fl">搜索</button>
                    <input type="hidden" name="do" value="search">
                </form>
            </div>
            <div class="m_buttons fr">
                <a href="?" class="lk {:input('is_state')==''?"cur":'';}">全部</a>
                <a href="?is_state=1&do=search" class="lk  {:input('is_state')=='1'?"cur":'';}">已审核</a>
                <a href="?is_state=0&do=search" class="lk  {:input('is_state')=='0'?"cur":'';}">未审核</a>
                <a href="?is_state=2&do=search" class="lk  {:input('is_state')=='2'?"cur":'';}">已冻结</a>
            </div>
        </div>
        <div class="m_content">
            <table class="pub_table">
                <thead>
                <th width="6%">商户ID</th>
                <th width="7%">商户名</th>
                <th width="7%">结算方式</th>
                <th width="10%">联系电话</th>
                <th width="10%">QQ</th>
                <th width="15%">注册时间</th>
                <th width="10%">最后一次登录IP</th>
                <th width="5%">状态</th>
                <th width="14%">操作</th>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.userid}</td>
                    <td>
                        <em class="c_purple">{$vo.username}</em>
                    </td>
                    <td onclick="showContent('查看用户','{:url('userlist/userinfo','userid='.$vo.userid)}','500px','548px')"><a href="javascript:;" class="usernamePop">{$vo.realname}</a></td>
                    <td>{$vo.tel}</td>
                    <td>
                        <em class="c_blue">{$vo.qq}</em>
                    </td>
                    <td>{$vo.addtime}</td>
                    <td>{$vo.ip}</td>
                    <td>
                        {if $vo.is_state=='1'}
                        <em class="c_green">已开通</em>
                        {elseif $vo.is_state=='2'}
                        <em class="c_green" style="color: #eb442f">冻结中</em>
                        {elseif $vo.is_state=='0'}
                        <em class="c_green" style="color: #dadada">未审核</em>
                        {/if}
                    </td>
                    <td>
                        <a href="javascript:;" class="icon" onclick="showContent('标记用户','{:url('userlist/flag','userid='.$vo.userid)}','540px','530px')">
                            {if $vo.flag=='0'}
                            <i class="fa fa-flag" style="color:#ccc"></i>
                            {elseif $vo.flag=='1'}
                            <i class="fa fa-flag" style="color:#eee366"></i>
                            {elseif $vo.flag=='2'}
                            <i class="fa fa-flag" style="color:#feb41c"></i>
                            {elseif $vo.flag=='3'}
                            <i class="fa fa-flag" style="color:#5dcc3e"></i>
                            {elseif $vo.flag=='4'}
                            <i class="fa fa-flag" style="color:#ff6868"></i>
                            {elseif $vo.flag=='5'}
                            <i class="fa fa-flag" style="color:#c69cfe"></i>
                            {/if}
                        </a>
                        <a href="javascript:;" class="icon edit editUserPop" onclick="showContent('编辑用户','{:url('userlist/edit','userid='.$vo.userid)}','800px','708px')"></a>
                        <a href="{:url('userlist/login','userid='.$vo.userid)}" class="icon success" target="_blank"></a>
                        <a href="javascript:;" class="icon calcul divideUserPop" onclick="showContent('设置分成','{:url('userlist/userrate','userid='.$vo.userid)}','550px','548px')"></a>
                        <!--<a href="javascript:;" class="icon delete"></a>-->
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {$page}
</div>
<script>
    layui.use(['form'], function () {
    });
</script>
{include file="common/footer" /}
