<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$list.sitename} - {$sitetile}</title>
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$sitekeyword}" />
    <link href="{$css}/lsy.css" rel="stylesheet" type="text/css">
    <link href="{$css}/iconfont.css" rel="stylesheet" type="text/css">
    <script src="{$js}/jquery.min.js"></script>
    <script src="{$layer}/layer.js"></script>
    <script src="{$common}/js/1106111321_layer.js"></script>
    <script src="{$common}/js/jquery.qrcode.min.js"></script>
</head>

<style>
    .radio-list {
        line-height: 36px;
    }
    .radio-box {
        background: rgba(83,91,127,0.06);
        padding: 10px 8px;
        height: 36px;
        border-radius: 4px;
    }
    .dot {
        background: #fe825a;
        color: #fff !important;
    }
</style>

<body>
<style>
    *{
        font-family: Microsoft YaHei;
    }
    .zy-tc{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0,0,0,0.5);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .tanchu{
        width: 70%;
        margin: 5% auto;
        background: #fff;
        border-color:#dddddd;
        border-radius:2px ;
        padding: 15px;
    }
    .tanchu-title{
        margin: 0;
        margin-bottom: 10px;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-header {
        border-bottom-width: 2px;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #e5e5e5;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-body {
        padding: 2px;
        color: #797979;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-body p{
        line-height: 20px;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-footer {
        padding: 0;
        padding-top: 5px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    @media (max-width: 320px) {
        .tanchu-footer button{
            padding: 0.5%;
            font-size: 10px;
            background-color: #ffa106;
            color: #fff;
            /*margin: 0 1%;*/
            border: 1px solid transparent;
        }
    }
    @media (min-width: 321px) {
        .tanchu-footer button{
            padding: 1%;
            background-color: #ffa106;
            color: #fff;
            margin: 0 1%;
            border: 1px solid transparent;
        }
    }
</style>
<script>
    $(function() {
        $(document).on('click', '.btn-no', function() {
            $(".zy-tc").css('display', 'none')
        });
        $(document).on('click', '.btn-yes', function() {
            $(".zy-tc").css('display', 'none')
        });
    });
</script>
<div class="zy-tc" tabindex="-1" style="display:block; padding-right: 17px;">
    <div class="tanchu">
        <div class="tanchu-content">
            <div class="tanchu-header">
                <h4 class="tanchu-title">购买须知</h4>
            </div>
            <div class="tanchu-body">

                <p>1、本站仅是提供自动发卡服务并非销 售商只保证卡密正确有效，商品使用和相关售后问题请自行联系卖家处理解决!</p>

                <p>2、建议先咨询卖家商品用途后购买，购买的卡密充值成功表示交易成功，非卡密问题概不退款!<span style="color: #ffa106;">（重要提示:我司不提供实物商品的担保交易，购买需要邮寄商品都是骗子，请勿付款，并联系我司客服进行投诉：投诉QQ：{:cache('guestconfig')['qq']}）</span></p>

                <p>3、如遇假卡/诈骗/赌博/钓鱼/色情/套现等情况，请在{:cache('guestconfig')['sitename']}查询订单后点击举报投诉及时进行反馈，投诉有效期:购买当天23: 00前进行投诉，逾期不支持！投诉客服QQ：{:cache('guestconfig')['qq']}，工作时间：08:30 - 24:00我们将在第一时间回复您谢谢!</p>

                <p>4、商品使用问题全部联系卖家处理--咨询卖家QQ</p>
                <p style="text-align: center;display: none;" ><img src="/index/monarch/images/ewm.jpg" alt="" height="200" /></p>
            </div>
            <div class="tanchu-footer">
                <button type="button" class="btn-no" data-dismiss="tanchu">不明白，稍后购买</button>
                <button type="button" class="btn-yes" data-dismiss="tanchu">明白了，我要购买</button>
            </div>
        </div>
    </div>
</div>
<div class="top_bg">
    <div class="top"><div class="logo"><img src="{$images}/logo2.png" style="margin-top: 8px;" title="{$sitetile}" height="40"></div><div class="seller_name"><i class="iconfont icon-tehuishanghu"></i> {$list.sitename}</div></div>
    <div class="top_menu">
        <ul>
            <li onclick="window.open('http://wpa.qq.com/msgrd?v=1&uin={$list.qq}&site={$sitetile}&menu=yes')"><i class="iconfont icon-zixun"></i><br>咨询卖家</li>
            <li onclick="window.open('{:url('/orderquery')}')"><i class="iconfont icon-sousuo2"></i><br>查询订单</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="seller_gg">商家公告： {$gonggao}</div>
<form method="post" target="_blank" id="ajaxform">
    <div class="seller_form">
        <ul>
            <ul>
                {if $flag=='links'}
                <li><span class="form_title">商品分类</span>
                    <select name="cateid" onchange="selectcateid()">
                        <option value="">请选择分类</option>
                        {volist name="cate_arr" id="vo"}
                        <option value="{$vo.goodcateid}" >{$vo.catename}</option>
                        {/volist}
                    </select>
                </li>
                <li>
                    <span class="form_title">商品名称</span>
                    <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                    <select name="goodlistid" onchange="selectgoodid()" style="display: inline-block;">
                        <option value="">请选择商品</option>
                    </select>
                </li>
                {elseif($flag=='lists')/}
                <li><span class="form_title">商品分类</span>
                    <p class="spdj">{$catename}</p>
                </li>
                <li>
                    <span class="form_title">商品名称</span>
                    <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                    <select name="goodlistid" onchange="selectgoodid()" style="display: inline-block;">
                        <option value="">请选择商品</option>
                        {volist name="goodlist_arr" id="vo"}
                        <option value="{$vo.goodlistid}" >{$vo.goodname}</option>
                        {/volist}
                    </select>
                </li>
                {elseif($flag=='detail')/}
                <li>
                    <span class="form_title">商品名称</span>
                    <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                    <p class="spdj">{$goodname}</p>
                    <select name="goodlistid" style="display: none;">
                        <option value="{$goodlistid}" selected>{$goodname}</option>
                    </select>
                    <script>
                        $(function () {
                            selectgoodid();
                        })
                    </script>
                </li>
                {/if}

                <li>
                    <div class="box_inline" style="position: relative">
                        <span class="form_title">购买数量</span>
                        <input name="quantity" onkeyup="changequantity()" type="text" value="1">
                        <span class="green" id="kucun" style="position: absolute;right: 6px;top:28px;"></span>
                    </div>
                    <div class="box_inline">
                        <span class="form_title">商品单价</span>
                        <p class="spdj">
                            <img src="{$common}/images/load.gif" id="price_img" style="line-height: 42px;margin-top: 17px;display: none;">
                            <span class="big_text" id="price">0.00</span> 元
                            <a href="javascript:;" id="wholesale" style="display:none;">(查看批发价格)</a>
                            <div id="wholesaledetail" style="display: none;"></div>
                        </p>
                    </div>
                </li>
                <li><span class="form_title">联系方式</span><input class="phone_num" type="text" name="contact" placeholder="推荐填写手机号或邮箱号" onchange="changecontact()" maxlength="20"></li>
                <li id="pwd1" style="display:none"><span class="form_title">取卡密码</span><input type="text" onblur="checkpwd1()" name="pwd1" placeholder="[必填]请输入取卡密码（6-20位）" maxlength="20"></li>
                <li id="pwd2" style="display:none"><span class="form_title">取卡密码</span><input type="text" onblur="checkpwd2()" name="pwd2" placeholder="[选填]请输入取卡密码（6-20位）"></li>
                <li id="coupon" style="display:none"><span class="form_title">优惠券</span><input type="text" name="couponcode" onblur="checkCoupon()" placeholder="请填写你的优惠券"><span id="discouponcode" style="display:none"><label id="checkcoupon">正在查询...</label></span></li>
                <li class="ipt-item cf">
                    <span class="form_title">特色服务</span>
                    <div class="radio-list">
                        <label class="radio-box msg-box lf" style="color: #999; width: 191px; text-align: center; cursor: pointer;">
                            短信提醒[收费0.1元]
                            <input type="checkbox" name="is_tel" value="1" style="display: none">
                        </label>
                        <label class="radio-box email-box lf" style="color: #999;width: 191px;text-align: center;cursor: pointer;margin-left: 10px;">
                            邮箱提醒[免费]
                            <input type="checkbox" name="is_email" value="1" id="email" style="display: none">
                        </label>
                    </div>
                </li>
                <li id="email_show" style="display:none"><span class="form_title">邮箱地址</span><input class="phone_num" type="text" name="email" placeholder="填写你常用的邮箱地址" onchange="changeemail()" maxlength="50"></li>
            </ul>
        </ul>
    </div>
    <div class="seller_sm">商品说明：<div id="remark"></div></div>
    <div class="payments">
        <span class="form_title" style="margin-bottom: 4px">请选择支付方式</span>
        <ul>
            {if in_array('alipay',$payway_arr)}
            <li><img src="{$images}/zfb.png" alt="">支付宝 <span class="pay_choose"></span><input name="payway" value="alipaywap" type="radio" checked></li>
            {/if}

            {if in_array('weixinwap',$payway_arr)}
            <?php if( strpos($_SERVER['HTTP_USER_AGENT'], 'MicroMessenger') == false )://不在微信浏览器内打开网页 ?>
            <li><img src="{$images}/wx.png" alt="">微信支付 <span></span><input name="payway" value="weixingzh" type="radio"></li>
            <?php endif;?>
            {/if}

            {if in_array('weixingzh',$payway_arr)}
            <?php if( strpos($_SERVER['HTTP_USER_AGENT'], 'MicroMessenger') !== false )://在微信浏览器内打开网页 ?>
            <li><img src="{$images}/wx.png" alt="">微信支付 <span></span><input name="payway" value="weixingzh" type="radio"></li>
            <?php endif;?>
            {/if}

            {if in_array('qqwap',$payway_arr)}
            <li><img src="{$images}/qq.png" alt="">QQ钱包 <span></span><input name="payway" value="qqwap" type="radio"></li>
            {/if}

            {if in_array('jdsm',$payway_arr)}
            <li><img src="{$images}/jdsm.png" alt="" width="30px" height="30px">京东支付 <span></span><input name="payway" value="jdsm" type="radio"></li>
            {/if}
        </ul>
    </div>
    <div class="pay_bottom">
        <p>应付总额： <span class="pay_all "><b id="tprice">0.00</b></span> 元</p>
        <div id="submit">
            <input type="submit" class="check_pay" value="确认支付" onclick="submitform();return false;">
        </div>
    </div>
    <input type="hidden" name="userid" value="{$list.userid}">
    <input type="hidden" name="{$linkid}_token" value="{$list.token}">
    <input type="hidden" name="is_wholesale">
    <input type="hidden" name="kucun_status">
    <input type="hidden" name="kucun">
    <input type="hidden" name="is_coupon">
    <input type="hidden" name="amount">
    <input type="hidden" name="tel_amount">
    <input type="hidden" name="psd_limit">
    <input type="hidden" name="contact_limit">
    <input type="hidden" name="low_limit">
    <input type="hidden" name="price">
    <input type="hidden" name="linkid" value="{$linkid}">
</form>
<script>
    $(function () {
        $('.payments li').click(function () {
            $(this).children('span').addClass('pay_choose');
            $(this).siblings('li').find('span').removeClass('pay_choose');
            $(this).children('input').attr('checked',true);
            $(this).siblings('li').find('input').attr('checked',false);
        });
    });
    // 批发信息切换显示
    $("#wholesale").hover(
        function () {
            var index = layer.tips($("#wholesaledetail").html(), this, {
                tips: [2, '#4B4B4B'],
                time: 0
            });
            $(this).attr("data-index", index);
        },
        function () {
            layer.close($(this).attr("data-index"));
        }
    );
</script>
<script>
    $('input[name="is_tel"]').click(function() {
        if($(this).is(':checked')) {
            $(this).parent('label').addClass('dot');
        } else {
            $(this).parent('label').removeClass('dot');
        }
    });
    $('input[name="is_email"]').click(function() {
        if($(this).is(':checked')) {
            $(this).parent('label').addClass('dot');
        } else {
            $(this).parent('label').removeClass('dot');
        }
    });
</script>

</body>
</html>