<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{$list.sitename} - {$sitetile}</title>
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$sitekeyword}" />

    <link href="{$css}/index.css" rel="stylesheet" type="text/css">
    <script src="{$js}/jquery.min.js"></script>
    <!--    点击购买遮罩弹窗结束-->
    <!--    核心文件开始-->
    <script src="{$common}/js/1106111321_layer.js"></script>
    <!--    核心文件结束-->
    <!--    支付方式样式文件开始-->
    <script src="{$js}/init.js"></script>
    <script src="{$layer}/layer.js"></script>
    <script src="{$common}/js/jquery.qrcode.min.js"></script>
    <!--    支付方式样式文件结束-->
</head>
<body>
<style>
    *{
        font-family: Microsoft YaHei;
    }
    .zy-tc{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0,0,0,0.5);
        overflow-x: hidden;
        overflow-y: auto;
    }
    .tanchu{
        width: 40%;
        margin: 5% auto;
        background: #fff;
        border-color:#dddddd;
        border-radius:2px ;
        padding: 25px;
        color: #797979;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-header {
        border-bottom-width: 2px;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid #e5e5e5;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-body {
        padding: 20px;
        color: #797979;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-body p{
        line-height: 35px;
    }
    .zy-tc .tanchu .tanchu-content .tanchu-footer {
        padding: 0;
        padding-top: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .tanchu-footer button{
        padding: 1%;
        background-color: #ffa106;
        color: #fff;
        margin: 0 1%;
        border: 1px solid transparent;
    }
</style>
<script>
    $(function() {
        $(document).on('click', '.btn-no', function() {
            $(".zy-tc").css('display', 'none')
        });
        $(document).on('click', '.btn-yes', function() {
            $(".zy-tc").css('display', 'none')
        });
    });
</script>
<div class="zy-tc" tabindex="-1" style="display:block; padding-right: 17px;">
    <div class="tanchu">
        <div class="tanchu-content">
            <div class="tanchu-header">
                <h4 class="tanchu-title">购买须知</h4>
            </div>
            <div class="tanchu-body">

                <p>1、本站仅是提供自动发卡服务并非销 售商只保证卡密正确有效，商品使用和相关售后问题请自行联系卖家处理解决!</p>

                <p>2、建议先咨询卖家商品用途后购买，购买的卡密充值成功表示交易成功，非卡密问题概不退款!<span style="color: #ffa106;">（重要提示:我司不提供实物商品的担保交易，购买需要邮寄商品都是骗子，请勿付款，并联系我司客服进行投诉：投诉QQ：{:cache('guestconfig')['qq']}）</span></p>

                <p>3、如遇假卡/诈骗/赌博/钓鱼/色情/套现等情况，请在{:cache('guestconfig')['sitename']}查询订单后点击举报投诉及时进行反馈，投诉有效期:购买当天23: 00前进行投诉，逾期不支持！投诉客服QQ：{:cache('guestconfig')['qq']}，工作时间：08:30 - 24:00我们将在第一时间回复您谢谢!</p>

                <p>4、商品使用问题全部联系卖家处理--咨询卖家QQ</p>

            </div>
            <div class="tanchu-footer">
                <button type="button" class="btn-no" data-dismiss="tanchu">不明白，稍后购买</button>
                <button type="button" class="btn-yes" data-dismiss="tanchu">明白了，我要购买</button>
            </div>
        </div>
    </div>
</div>

<div class="index-page">
    <form method="post" target="_blank" id="ajaxform" style="margin-bottom: 0;">
        <div class="p-heading">
            <div class="container cf">
                <div class="p-logo lf">

                </div>
                <div class="p-nav rf">
                    <ul class="cf">
                        <li class="nav-item lf">
                            <a target="_blank" href="/">首页</a>
                        </li>
                        <li class="nav-item lf">
                            <a target="_blank" href="/orderquery">订单查询</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="p-body">
            <div class="container">
                <div class="b-heading cf">
                    <div class="con-l shop-info lf">
                        <h2>卖家信息</h2>
                        <p>店铺名称：{$list.sitename}</p>
                        <dl class="secondRow cf">
                            <dd class="lf">
                                <p>商家网站：{$list.siteurl}</p>
                            </dd>
                            <dd class="lf">
                                <p>商品类型：数字卡密</p>
                            </dd>
                            <dd class="lf">
                                <p>发货类型：自动发货</p>
                            </dd>
                            <dd class="lf">
                                <p onclick="window.open('http://wpa.qq.com/msgrd?v=1&uin={$list.qq}&site=957ka.com&menu=yes')" style="cursor: pointer">卖家QQ：{$list.qq}</p>
                            </dd>
                        </dl>
                        <span class="buy-btn" style="cursor: pointer">立即购买</span>
                    </div>
                    <div class="con-c lf">
                        <a href="#" class="contact-btn" style="cursor: pointer" onclick="window.open('http://wpa.qq.com/msgrd?v=1&uin={$list.qq}&site=957ka.com&menu=yes')">联系商家</a>
                        <a href="/orderquery" class="order-btn">订单查询</a>
                    </div>
                    <div class="con-r barcode lf">
                        <div class="barcode-box" id="qrcode"></div>
                        <p>扫面二维码手机支付</p>
                    </div>
                </div>
                <div class="b-body cf">
                    <div class="con-l lf">
                        <div class="ipt-item cf" style="margin-top: 44px;">
                            <label class="lf">商品说明：</label>
                            <div class="textarea-box lf">
                                <textarea id="remark" style="color: #333"></textarea>
                            </div>
                        </div>
                        {if $flag=='links'}
                        <!--            如果是店铺链接开始-->
                        <div class="ipt-item cf">
                            <label class="lf">商品分类：</label>
                            <div class="ipt-box lf">
                                <select name="cateid" onchange="selectcateid()" class="ipt-select">
                                    <option value="">请选择分类</option>
                                    {volist name="cate_arr" id="vo"}
                                    <option value="{$vo.goodcateid}" >{$vo.catename}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="ipt-item cf">
                            <label class="lf">商品名称：</label>
                            <div class="ipt-box lf">
                                <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                                <select class="ipt-select" name="goodlistid" onchange="selectgoodid()">
                                    <option value="">请选择商品</option>
                                </select>
                            </div>
                        </div>
                        <!--            如果是店铺链接结束-->
                        {elseif($flag=='lists')/}
                        <!--            如果是分类链接开始-->
                        <div class="ipt-item cf">
                            <label class="lf">商品分类：</label>
                            <div class="ipt-box lf">
                                {$catename}
                            </div>
                        </div>

                        <div class="ipt-item cf">
                            <label class="lf">商品名称：</label>
                            <div class="ipt-box lf">
                                <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                                <select class="ipt-select" name="goodlistid" onchange="selectgoodid()">
                                    <option value="">请选择商品</option>
                                    {volist name="goodlist_arr" id="vo"}
                                    <option value="{$vo.goodlistid}" >{$vo.goodname}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <!--            如果是分类链接结束-->
                        {elseif($flag=='detail')/}
                        <!--            如果是单个商品链接开始-->
                        <div class="ipt-item cf">
                            <label class="lf">商品名称：</label>
                            <div class="ipt-box lf">
                                <img src="{$common}/images/load.gif" id="goodid_img" style="line-height: 42px;margin-top: 17px;display: none;">
                                <select name="goodlistid" style="display: none;">
                                    <option value="{$goodlistid}" selected>{$goodname}</option>
                                </select>
                                <script>
                                    $(function () {
                                        selectgoodid();
                                    })
                                </script>
                            </div>
                        </div>
                        <!--            如果是单个商品链接结束-->
                        {/if}
                        <div class="ipt-item cf">
                            <label class="lf">商品单价：</label>
                            <div class="info-box lf">
                                <p><span>￥</span><label id="price">0.00</label>
                                <span style="display:none;color: #648ff7;" id="wholesale">(查看批发价格)</span>
                                </p><div id="wholesaledetail" style="display: none;"></div>
                            </div>
                        </div>
                        <div class="ipt-item cf">
                            <label class="lf">购买数量：</label>
                            <div class="sum-box lf">
                                <a class="reduce-btn lf" href="javascript:;" onclick="delquantity()"></a>
                                <input name="quantity" class="sum lf" type="text" value="1" onkeyup="changequantity()">
                                <a class="add-btn lf" href="javascript:;" onclick="addquantity()"></a>
                                <p class="lf">库存数量：<em id="kucun">0</em>，抓紧时间购买哦</p>
                            </div>
                        </div>
                        <div class="ipt-item cf">
                            <label class="lf">联系方式：</label>
                            <div class="contact-box lf" style="width: 470px">
                                <input onchange="changecontact()" name="contact" type="text" placeholder="推荐填写QQ号或手机号 订单查询的重要凭证!" maxlength="20">
                            </div>
                        </div>
                        <div class="ipt-item cf">
                            <label class="lf">特色服务：</label>
                            <div class="radio-list">
                                <label class="radio-box msg-box lf" style="color: #999;width: 191px;padding: 0 20px;text-align: center;cursor: pointer">
                                    短信提醒[收费0.1元]
                                    <input type="checkbox" name="is_tel" value="1" style="display: none">
                                </label>
                                <label class="radio-box email-box lf" style="color: #999;width: 191px;padding: 0 20px;text-align: center;cursor: pointer">
                                    邮箱提醒[免费]
                                    <input type="checkbox" name="is_email" value="1" id="email" style="display: none">
                                </label>
                            </div>
                        </div>
                        <div class="ipt-item mail cf email_show">
                            <label class="lf">邮箱地址：</label>
                            <div class="contact-box lf" style="width: 470px">
                                <input type="text" onchange="changeemail()" name="email" placeholder="填写你常用的邮箱地址">
                            </div>
                        </div>
                        <div class="ipt-item cf" id="pwd1" style="display:none">
                            <label class="lf">取卡密码：</label>
                            <div class="contact-box lf" style="width: 470px">
                                <input onblur="checkpwd1()" type="text" name="pwd1" placeholder="[必填]请输入取卡密码（6-20位）" maxlength="20">
                            </div>
                        </div>
                        <div class="ipt-item cf" id="pwd2" style="display:none">
                            <label class="lf">取卡密码：</label>
                            <div class="contact-box lf" style="width: 470px">
                                <input onblur="checkpwd2()" type="text" name="pwd2" placeholder="[选填]请输入取卡密码（6-20位）" maxlength="20">
                            </div>
                        </div>
                        <div class="ipt-item cf" id="coupon" style="display:none">
                            <label class="lf">优惠券：</label>
                            <div class="contact-box lf" style="width: 470px">
                                <input type="text" name="couponcode" placeholder="请填写你的优惠券" onblur="checkCoupon()" style="width: 200px">
                                <span id="checkcoupon" style="display:none;color:#00a2e9;"><img src="{$images}/load.gif"> 正在查询...</span>

                            </div>
                        </div>
                        <div class="ipt-item cf">
                            <label class="lf">应付总额：</label>
                            <div class="info-box lf">
                                <p><span>￥</span><label id="tprice">0.00</label>元</p>
                            </div>
                        </div>
                    </div>
                    <div class="con-r lf">
                        <div class="notice-con" style="height: 216px">
                            <div class="notice-heading">
                                <span>卖家公告</span>
                            </div>
                            <div class="notice-body">{$gonggao}</div>
                        </div>
                        <div class="pic-con"></div>
                        <div class="ornament">
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                            <span class="ornament-item"></span>
                        </div>
                    </div>
                </div>
                <div class="b-footer">
                    <div class="pay-title">
                        <h3>扫码支付</h3>
                    </div>
                    <div class="pay-list cf">
                        {if in_array('alipay',$payway_arr)}
                        <div class="pay-item dot lf lab3">
                            <input name="payway" value="ALIPAY" type="radio" style="display: none" checked="">
                            <img src="{$images}/zfb-pay.png">
                        </div>
                        {/if}
                        {if in_array('weixin',$payway_arr)}
                        <div class="pay-item lf lab3" id="lab3_weixin">
                            <input name="payway" value="WEIXIN" type="radio" style="display: none">
                            <img src="{$images}/wx-pay.png">
                        </div>
                        {/if}
                        {if in_array('qqrcode',$payway_arr)}
                        <div class="pay-item lf lab3">
                            <input name="payway" value="qqrcode" type="radio" style="display: none">
                            <img src="{$images}/qq-pay.png">
                        </div>
                        {/if}
                        {if in_array('jdsm',$payway_arr)}
                        <div class="pay-item lf lab3">
                            <input name="payway" value="jdsm" type="radio" style="display: none">
                            <img src="{$images}/jd.png">
                        </div>
                        {/if}

                    </div>
                    <div style="text-align: center;cursor: pointer">
                        <button style="cursor: pointer;outline: none" class="pay-btn" onclick="submitform();return false;">立即支付</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="userid" value="{$list.userid}">
            <input type="hidden" name="{$linkid}_token" value="{$list.token}">
            <!--是否支持批发优惠（1：是，0：否）-->
            <input type="hidden" name="is_wholesale">
            <!--库存显示方式，（0：默认，1：具体库存数量，2：库存范围显示）-->
            <input type="hidden" name="kucun_status">
            <!--库存数量-->
            <input type="hidden" name="kucun">
            <!--是否支持优惠券（1：是，0：否）-->
            <input type="hidden" name="is_coupon">
            <!--优惠金额-->
            <input type="hidden" name="amount">
            <!--短信提醒-->
            <input type="hidden" name="tel_amount">
            <!--买家购买时是否填写取卡密码（1：是，0：否，2：选填）-->
            <input type="hidden" name="psd_limit">
            <!--买家购买时填写的联系方式进行正则匹配（1：是，0：否，其他：可以使用的位数）-->
            <input type="hidden" name="contact_limit">
            <!--商品起购数量-->
            <input type="hidden" name="low_limit">
            <!--赋值单价-->
            <input type="hidden" name="price">
            <!--linkid-->
            <input type="hidden" name="linkid" value="{$linkid}">
        </div>
        <div class="p-footer">
            <p style="padding-bottom: 0">{$copyright}</p>
        </div>
    </form>
</div>
</body></html>