<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{$qtarr.description}" />
    <meta name="keywords" content="{$qtarr.sitekeyword}" />
    <meta name="baidu-site-verification" content="{$qtarr.baidu_verification}" />

    <link href="{$css}/bootstrap.part.css" rel="stylesheet">

    <script src="{$js}/jquery-2.2.1.min.js"></script>
    <script src="{$layer}/layer.js"></script>
    <script src="{$js}/bootstrap.part.js"></script>
    <script src="{$js}/bootstrap.min.js"></script>
</head>