<div class="nav-left">
    <ul class="nav-ul">
        <li class="nav-li-active">
            <i></i>
            <div>
                <a href="{:url('/')}">商家首页</a>
                <a href="{:url('/log')}">登录日志</a>
                <a href="{:url('/useruuserinfo')}">商家设置</a>
                <a href="{:url('/safety')}">修改密码</a>
                <a href="{:url('/shop')}">店铺链接</a>
            </div>
        </li>
        <li class="nav-icon2">
            <i class="nav_left_icon2"></i>
            <div>
                <a href="{:url('/complain')}">全部投诉</a>
                <a href="{:url('/cate')}">商品分类</a>
                <a href="{:url('goodlist/add')}">添加商品</a>
                <a href="{:url('/goodlist')}">商品列表</a>
                <a href="{:url('/dl_goodlist')}">我的代理商品</a>
            </div>
        </li>
        <li class="nav-icon3">
            <i class="nav_left_icon3"></i>
            <div>
                <a href="{:url('kami/add')}">添加虚拟卡</a>
                <a href="{:url('/kamilist')}">虚拟卡列表</a>
                <a href="{:url('/sold')}">已售出</a>
            </div>
        </li>
        <li class="nav-icon4">
            <i class="nav_left_icon4"></i>
            <div>
                <a href="{:url('/payway')}">付款方式</a>
                <a href="{:url('/seo')}">渠道分析</a>
                <a href="{:url('/order')}">订单列表</a>
                <a href="{:url('/dl_order')}">我的代理订单</a>
                <a href="{:url('/income')}">收益分析</a>
                <a href="{:url('/withdraw')}">申请提现</a>
                <a href="{:url('/paymoney')}">结算记录</a>
            </div>
        </li>
        <li class="nav-icon5">
            <i class="nav_left_icon5"></i>
            <div>
                <a href="{:url('/ac')}">添加优惠券</a>
                <a href="{:url('/coupon')}">优惠券列表</a>
            </div>
        </li>
    </ul>
</div>