{include file="common/header" /}
<body>
{include file="common/top_nav" /}
<div class="main clearfix">
    {include file="common/left_nav" /}
    <div class="container userinfo scroll">
        <div class="box init b1 j-base">
            <div class="title">用户信息<span>User information</span></div>
            <!--<form action="" enctype="multipart/form-data" class="clearfix" id="ajaxform">-->
            <form action="{:url('userinfo/editsave')}" method="post" id="ajaxform">
                <div class="subtitle">商户基本信息</div>
                <div class="item clearfix">
                    <span class="left">商户编号</span>
                    <div class="right"><span class="info"> {:session('user.userid')}</span></div>
                </div>
                <div class="item clearfix">
                    <span class="left">商户名</span>
                    <div class="right"><span class="info">{:session('user.username')}</span> </div>
                </div>
                <div class="item clearfix">
                    <span class="left"><span>*&nbsp;</span>电子邮箱</span>
                    <div class="right"><span class="info"> {$userdefine_row.email}</span></div>
                </div>
                <div class="item clearfix">
                    <span class="left"><span>*&nbsp;</span>手机号码</span>
                    <div class="right"><span class="info"> {$userdefine_row.tel}</span></div>
                </div>
                <div class="item clearfix">
							<span class="left">
								<span>*&nbsp;</span>商户QQ</span>
                    <div class="right">
                        <input type="text" name="qq" value="{$userdefine_row.qq}" maxlength="11">
                    </div>
                </div>
                <div class="item clearfix">
							<span class="left">
								<span>*&nbsp;</span>店铺名称</span>
                    <div class="right">
                        <input type="text" name="sitename" placeholder="给您的店铺起一个响亮的名字" value="{$userdefine_row.sitename}" maxlength="50">
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">店铺地址</span>
                    <div class="right">
                        <input type="text" name="siteurl" value="{$userdefine_row.siteurl}" maxlength="50">
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">库存显示</span>
                    <div class="right">
                        <div class="radio">
                            <input type="radio" name="kucun_show" id="r1" value="0" {$userdefine_row['kucun_show']==0?'checked':'';}>
                            <label for="r1">实际库存数量</label>
                        </div>
                        <div class="radio">
                            <input type="radio" name="kucun_show" id="r2" value="1" {$userdefine_row['kucun_show']==1?'checked':'';}>
                            <label for="r2">显示库存范围</label>
                        </div>
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">购买联系方式</span>
                    <div class="right">
                        <select name="contact_limit">
                            <?php foreach($contact_limit_arr as $k => $v): ?>
                            <option value="{$k}">{$v}</option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">支付页面</span>
                    <div class="right">
                        <select name="paytheme">
                            <?php foreach($paytheme_arr as $k => $v): ?>
                            <option value="{$k}" {$userdefine_row.paytheme==$k?'selected':''}>{$v}</option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">售卡顺序</span>
                    <div class="right">
                        <select name="check_goods">
                            <option value="1" {$userdefine_row.check_goods==1?'selected':''}>随机取卡</option>
                            <option value="2" {$userdefine_row.check_goods==2?'selected':''}>从先往后取卡</option>
                            <option value="3" {$userdefine_row.check_goods==3?'selected':''}>从后往前取卡</option>
                        </select>
                    </div>
                </div>
                <div class="item clearfix" style="visibility: hidden">
                    <span class="left"></span>
                    <div class="right">
                    </div>
                </div>
                <div class="item clearfix block">
                    <span class="left">商家公告</span>
                    <div class="right">
                        <textarea name="usernotice"maxlength="255">{$userdefine_row.usernotice}</textarea>
                        <div class="info-tip">此公告将显示到您所有的商品页面上（适合填写售后QQ，客服QQ群）</div>
                    </div>
                </div>
                <!--如果没有设置收款信息-->
                {if $userpay_row.ptype=='0'}
                <div class="item clearfix">
                    <span class="left">收款方式</span>
                    <div class="right">
                        <select name="ptype" style="width: 170px" onchange="selectptype()">
                            <option value="1" {$userpay_row.ptype=="1"?"selected":'';}>支付宝收款</option>
                            <option value="2" {$userpay_row.ptype=="2"?"selected":'';}>银行卡收款</option>
                            <option value="3" {$userpay_row.ptype=="3"?"selected":'';}>微信收款</option>
                        </select>
                    </div>
                </div>
                <div class="item clearfix" >
                    <span class="left">收款人姓名</span>
                    <div class="right"><input name="realname" type="text" value="{$userpay_row.realname?$userpay_row.realname:'';}"></div>
                </div>
                <div class="item clearfix">
                    <span class="left">身份证号</span>
                    <div class="right"><input name="idcard" type="text" value="{$userpay_row.idcard?$userpay_row.idcard:'';}" maxlength="18"></div>
                </div>
                <div class="item clearfix" style="display: none" id="bank2">
                    <span class="left">银行卡号</span>
                    <div class="right"><input name="card" type="text" value="{$userpay_row.card?$userpay_row.card:'';}"></div>
                </div>
                <div class="item clearfix" style="display: none" id="bank3">
                    <span class="left">开户地址</span>
                    <div class="right"><input name="bankaddr" type="text" value="{$userpay_row.bankaddr?$userpay_row.bankaddr:'';}"></div>
                </div>
                <div class="item clearfix" id="alipay1">
                    <span class="left">支付宝账号</span>
                    <div class="right"><input name="alipay" type="text" value="{$userpay_row.alipay?$userpay_row.alipay:'';}"></div>
                </div>
                <div class="item clearfix" id="alipay2" style="height: auto">
                    <span class="left">支付宝二维码</span>
                    <div class="right">
                        <label style="display:inline-block;height:36px;line-height:36px;padding:0px 16px;text-align:center;cursor:pointer;border-radius:3px;width: 170px;border: 1px solid #6a9cf0 !important;color: #6a9cf0 !important;">
                            上传图片
                            <input name="alipayimg" type="file" accept=".jpg,.jpeg,.bmp,.png,.gif" style="display: none" id="alipayimg" onchange="Uploadimg('alipayimg_img_show','alipayimg')">
                            <img id="alipayimg_img_show" style="width: 200px;display: none;margin-top: 20px;max-height: 200px;" src="" alt="" onclick="window.open(this.src)">
                        </label>
                    </div>
                </div>
                <div class="item clearfix" style="display: none" id="weixin1">
                    <span class="left">微信账号</span>
                    <div class="right"><input name="weixin" type="text" value="{$userpay_row.weixin?$userpay_row.weixin:'';}"></div>
                </div>
                <div class="item clearfix" style="display: none" id="weixin2">
                    <span class="left">微信二维码</span>
                    <div class="right">
                        <label style="display:inline-block;height:36px;line-height:36px;padding:0px 16px;text-align:center;cursor:pointer;border-radius:3px;width: 170px;border: 1px solid #6a9cf0 !important;color: #6a9cf0 !important;">
                            上传图片
                            <input name="weixinimg" type="file" accept=".jpg,.jpeg,.bmp,.png,.gif" style="display: none" id="weixinimg" onchange="Uploadimg('weixinimg_img_show','weixinimg')">
                            <img id="weixinimg_img_show" style="width: 200px;display: none;margin-top: 20px;max-height: 200px;" src="" alt="" onclick="window.open(this.src)">
                        </label>
                    </div>
                </div>
                <div style="clear: both"></div>
                <!--<div class="clearfix" style="height:200px;width:200px;margin-left:110px;margin-top:20px;background-color:#e3e3e3;line-height:200px;display:table;text-align:center;">-->
                <!--<img src="http://127.0.0.1/user/monarch/images/avataraf73.png" style="vertical-align: middle" alt="">-->
                <!--</div>-->
                <script>
                    var selectptype = function () {
                        var ptype = $('[name=ptype]').val();
                        if (ptype == '1') {
                            $('#bank1').hide();
                            $('#bank2').hide();
                            $('#bank3').hide();
                            $('#weixin1').hide();
                            $('#weixin2').hide();
                            $('#alipay1').show();
                            $('#alipay2').show();
                        } else if (ptype == '2') {
                            $('#bank1').show();
                            $('#bank2').show();
                            $('#bank3').show();
                            $('#weixin1').hide();
                            $('#weixin2').hide();
                            $('#alipay1').hide();
                            $('#alipay2').hide();
                        } else if (ptype == '3') {
                            $('#bank1').hide();
                            $('#bank2').hide();
                            $('#bank3').hide();
                            $('#weixin1').show();
                            $('#weixin2').show();
                            $('#alipay1').hide();
                            $('#alipay2').hide();
                        }
                    }
                </script>
                {/if}
                <!--支付宝收款-->
                {if $userpay_row.ptype=='1'}
                <div class="item clearfix">
                    <span class="left">收款方式</span>
                    <div class="right">
                        支付宝收款
                    </div>
                </div>
                <div class="item clearfix" >
                    <span class="left">收款人姓名</span>
                    <div class="right">{$userpay_row.realname?$userpay_row.realname:'';}</div>
                </div>
                <div class="item clearfix">
                    <span class="left">身份证号</span>
                    <div class="right">{$userpay_row.idcard?$userpay_row.idcard:'';}</div>
                </div>
                <div class="item clearfix" id="alipay1">
                    <span class="left">支付宝账号</span>
                    <div class="right">{$userpay_row.alipay?$userpay_row.alipay:'';}</div>
                </div>
                {if !empty($userpay_row.alipayimg)}
                <div class="item clearfix" id="alipay2" style="height: auto">
                    <span class="left">支付宝二维码</span>
                    <div class="right">
                        <label style="display:inline-block;height:36px;line-height:36px;padding:0px 16px;text-align:center;cursor:pointer;border-radius:3px;width: 170px;">
                            <img style="width: 200px;margin-top: 20px;max-height: 200px;" src="{$userpay_row.alipayimg?$userpay_row.alipayimg:'';}" alt="" onclick="window.open(this.src)">
                        </label>
                    </div>
                </div>
                {/if}
                {/if}
                <!--银行卡收款-->
                {if $userpay_row.ptype=='2'}
                <div class="item clearfix">
                    <span class="left">收款方式</span>
                    <div class="right">
                        银行卡收款
                    </div>
                </div>
                <div class="item clearfix" >
                    <span class="left">收款人姓名</span>
                    <div class="right">{$userpay_row.realname?$userpay_row.realname:'';}</div>
                </div>
                <div class="item clearfix">
                    <span class="left">身份证号</span>
                    <div class="right">{$userpay_row.idcard?$userpay_row.idcard:'';}</div>
                </div>
                <div class="item clearfix" id="bank2">
                    <span class="left">银行卡号</span>
                    <div class="right">{$userpay_row.card?$userpay_row.card:'';}</div>
                </div>
                <div class="item clearfix" id="bank3">
                    <span class="left">开户地址</span>
                    <div class="right">{$userpay_row.bankaddr?$userpay_row.bankaddr:'';}</div>
                </div>
                {/if}
                <!--微信收款-->
                {if $userpay_row.ptype=='3'}
                <div class="item clearfix">
                    <span class="left">收款方式</span>
                    <div class="right">
                        微信收款
                    </div>
                </div>
                <div class="item clearfix" >
                    <span class="left">收款人姓名</span>
                    <div class="right">{$userpay_row.realname?$userpay_row.realname:'';}</div>
                </div>
                <div class="item clearfix">
                    <span class="left">身份证号</span>
                    <div class="right">{$userpay_row.idcard?$userpay_row.idcard:'';}</div>
                </div>
                <div class="item clearfix" id="weixin1">
                    <span class="left">微信账号</span>
                    <div class="right">{$userpay_row.weixin?$userpay_row.weixin:'';}</div>
                </div>
                {if !empty($userpay_row.weixinimg)}
                <div class="item clearfix" id="weixin2" style="height: auto">
                    <span class="left">微信二维码</span>
                    <div class="right">
                        <label style="display:inline-block;height:36px;line-height:36px;padding:0px 16px;text-align:center;cursor:pointer;border-radius:3px;width: 170px;">
                            <img style="width: 200px;margin-top: 20px;max-height: 200px;" src="{$userpay_row.weixinimg?$userpay_row.weixinimg:'';}" alt="" onclick="window.open(this.src)">
                        </label>
                    </div>
                </div>
                {/if}
                {/if}
                <br>
                <br>
                <br>
                <br>
                <div class="btn" style="text-align: center">
                    <button class="t1" onclick="submitform();return false;">保存设置</button>
                    <!--<button class="t1" >保存设置 提交</button>-->
                    <button class="t2 j-toEdit" type="button" onclick='window.location.href="{:url('userinfo/edituserpay')}"'>修改收款信息</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script>-->
    <!--function submitform() {-->
        <!--var formData = new FormData($( "#ajaxform" )[0]);//找到input，作为参数传递给FormData构造函数-->
        <!--$.ajax({-->
            <!--url: "{:url('userinfo/editsave')}",-->
            <!--type: 'POST',-->
            <!--data: formData,-->
            <!--async: false,-->
            <!--cache: false,-->
            <!--contentType: false,-->
            <!--processData: false,-->
            <!--success: function (data) {-->
                <!--// console.log(data);-->
                <!--data = eval("(" + data + ")");-->
                <!--if (data.status == '1') {-->
                    <!--layer.msg(data.msg, {-->
                        <!--icon: 6,-->
                        <!--time: 1000 //1.5秒关闭（如果不配置，默认是3秒）-->
                    <!--}, function(){-->
                        <!--window.parent.location.reload();-->
                    <!--});-->
                <!--} else if(data.status=='0') {-->
                    <!--layer.msg(data.msg, {-->
                        <!--icon: 5,-->
                        <!--time: 1000 //1.5秒关闭（如果不配置，默认是3秒）-->
                    <!--});-->
                <!--}-->
            <!--}-->
        <!--});-->
    <!--}-->
<!--</script>-->
<script>

    /**
     * 上传缩略图版本
     */
    function Uploadimg(showimgid,fileid) {
        var eImg = $('#'+showimgid);
//        console.log(getObjectURL($('#'+inputid)[0].files[0]));
        eImg.show().attr('src', getObjectURL($('#'+fileid)[0].files[0])); // 或 this.files[0] this->input $(this).after(eImg);});
    }

    /*
     * 获取文件绝对路径
     */
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) {
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) {
            url = window.webkitURL.createObjectURL(file) ;
        } return url ;
    }
</script>
<script>
    function submitform() {

        // var email=$('[name="email"]').val();
        // var reg = /^([0-9a-zA-Z_-])+@([0-9a-zA-Z_-])+((\.[0-9a-zA-Z_-]{2,3}){1,2})$/;
        // if (!reg.test(email)) {
        //     layer.msg('请填写正确的邮箱地址！');
        //     $('[name="email"]').focus();
        //     return false;
        // }
        //
        // var tel=$('[name="tel"]').val();
        // var reg=/\d{11}/;
        // if(tel=='' || !reg.test(tel) || tel.length!=11){
        //     layer.msg('请填写正确的手机号码！');
        //     $('[name="tel"]').focus();
        //     return false;
        // }

        var qq=$('[name="qq"]').val();
        var reg=/\d{5,11}/;
        if(qq=='' || !reg.test(qq) ||qq.length<5 || qq.length>11){
            layer.msg('请填写正确的QQ号码！');
            $('[name="qq"]').focus();
            return false;
        }

        var sitename=$('[name="sitename"]').val();
        if(sitename==''){
            layer.msg('请填写正确的店铺名称！');
            $('[name="sitename"]').focus();
            return false;
        }

        {if $userpay_row.ptype=='0'}
        var ptype=$('[name="ptype"]').val();
        if(ptype==''){
            layer.msg('请选择收款方式！');
            $('[name="ptype"]').focus();
            return false;
        }

        if (ptype == '1') {
            var alipay=$('[name="alipay"]').val();
            if(alipay==''){
                layer.msg('请填写支付宝账号！');
                $('[name="alipay"]').focus();
                return false;
            }
            var alipayimg=$('#alipayimg').attr('value');
            var alipayimg_siblings = $('#alipayimg_img_show').attr('src');
            if(alipayimg==''||alipayimg==undefined||alipayimg==null){
                if(alipayimg_siblings==''||alipayimg_siblings==undefined||alipayimg_siblings==null) {
                    layer.msg('请上传支付宝二维码！');
                    $('#alipayimg').focus();
                    return false;
                }
            }
        } else if (ptype == '2') {
            var bankaddr=$('[name="bankaddr"]').val();
            if(bankaddr==''){
                layer.msg('请填写开户地址！');
                $('[name="bankaddr"]').focus();
                return false;
            }
            var card=$('[name="card"]').val();
            if(card==''){
                layer.msg('请填写银行卡号！');
                $('[name="card"]').focus();
                return false;
            }
        } else if (ptype == '3') {
            var weixin=$('[name="weixin"]').val();
            if(weixin==''){
                layer.msg('请填写微信账号！');
                $('[name="weixin"]').focus();
                return false;
            }
            var weixinimg=$('#weixinimg').attr('value');
            var weixinimg_siblings = $('#weixinimg_img_show').attr('src');
            if(weixinimg==''||weixinimg==undefined||weixinimg==null){
                if(weixinimg_siblings==''||weixinimg_siblings==undefined||weixinimg_siblings==null) {
                    layer.msg('请上传微信二维码！');
                    $('#weixinimg').focus();
                    return false;
                }
            }
        }

        var realname=$('[name="realname"]').val();
        if(realname==''){
            layer.msg('请填写正确的收款人姓名！');
            $('[name="realname"]').focus();
            return false;
        }

        var idcard=$('[name="idcard"]').val();
        if(idcard==''){
            layer.msg('请填写正确的身份证号！');
            $('[name="idcard"]').focus();
            return false;
        }
        {/if}
            var formData = new FormData($( "#ajaxform" )[0]);//找到input，作为参数传递给FormData构造函数
            $.ajax({
                url: "{:url('userinfo/editsave')}",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    // console.log(data);
                    data = eval("(" + data + ")");
                    if (data.status == '1') {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.parent.location.reload();
                        });
                    } else if(data.status=='0') {
                        layer.msg(data.msg, {
                            icon: 5,
                            time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                        });
                    }
                }
            });
        }
</script>
{include file="common/footer" /}

