{include file="common/header" /}
<script src="{$layer}/layer.js"></script>

	<body class="login_bg">
		<div class="container">
			<div class="logo_top">
				<a href="#"><img src="{$images}/logo1.png" alt="新创"></a>
			</div>
			<div class="login_title">
				<h3>重置密码</h3></div>
			<div class="logo_mode">
				<!--<a class="actived">手机找回</a>-->
				<a class="actived" style="width: 100%;order: none;">邮箱找回</a>
			</div>
			<div class="login_form">
				<form action="" id="ajaxform">
				<div class="phone_mode animated fadeInRight" style="display: block;">
					<input name="username" type="text" placeholder="用户名" maxlength="20">
					<input name="email" type="text" placeholder="邮箱" maxlength="50">
					<input name="tel" type="text" placeholder="手机号" maxlength="11">
					<div class="clear"></div>
					<button onclick="submitform();return false;" id="onclick_attr">确认重置</button>
				</div>
				</form>
			</div>
		</div>
		<script>
            function submitform() {
                $('#onclick_attr').attr('onclick',"return false;");
                $.post(
                    "{:url('retpwd/chkuser')}",
                    $("#ajaxform").serialize(),
                    function (data) {
                        data = eval("(" + data + ")");
                        if (data.status == '1') {
                            layer.msg(data.msg, {
                                    icon: 1,
                                    time: 5000 //1.5秒关闭（如果不配置，默认是3秒）
                                }
                                , function(){
                                    window.location.href = "/login";
                                }
                            );
                            // window.location.href = "/center";
                        } else if(data.status=='0') {
                            layer.msg(data.msg, {
                                icon: 2,
                                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                            });
                            $('#onclick_attr').attr('onclick',"submitform();return false;");
                        }
                    }
                    // , "json"
                );
            }
		</script>
		<script>
            <?php if(session('?login_msg')):?>
            <?php if(session('login_msg')=='退出成功'):?>
            layer.msg("<?php echo session('login_msg') ?>", {
                icon: 6,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            <?php else:?>
            layer.msg("<?php echo session('login_msg') ?>", {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            <?php endif; ?>
            <?php endif; ?>
		</script>
	</body>
</html>