{include file="common/header" /}
<script src="{$laydate}/laydate.js"></script>

<body>
{include file="common/top_nav" /}

<div class="main clearfix">
    {include file="common/left_nav" /}
    <script>
        //执行一个laydate实例
        laydate.render({
            elem: '#from_time' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#to_time' //指定元素
        });
    </script>
    <div class="container order scroll">
        <div class="box init b1">
            <div class="title">订单交易 <span>Order transaction </span>
            </div>
            <div class="table">
                <form action="" method="get">
                    <div class="bar clearfix">
                        <span class="t1">开始日期：</span>
                        <input style="cursor: pointer" type="text" name="from_time" id="from_time" class="time" value="{:input('from_time')}" placeholder="请选择开始日期" readonly>
                        <span class="t1">结束日期：</span>
                        <input style="cursor: pointer" type="text" name="to_time" id="to_time" class="time" value="{:input('to_time')}" placeholder="请选择结束日期" readonly>
                        <span class="t1">支付状态：</span>
                        <select name="is_buylist" id="" class="type">
                            <option value="">全部</option>
                            <option value="1" {:input('is_buylist')=='1'?"selected":'';}>已支付</option>
                            <option value="0" {:input('is_buylist')=='0'?"selected":'';}>未支付</option>
                        </select>
                        <span class="t1">支付类型：</span>
                        <select name="channelid">
                            <option value="">全部</option>
                            {volist name="paychannel_arr" id="vo"}
                            <option value="{$vo.channelid}" {:input('channelid')==$vo.channelid?"selected":'';}>{$vo.channelname}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="bar clearfix">
                        <span class="t1">选择商品：</span>
                        <select name="goodlistid">
                            <option value="">全部商品</option>
                            {volist name="goodlist_arr" id="vo"}
                            <option value="{$vo.goodlistid}" {:input('goodlistid')==$vo.goodlistid?"selected":'';}>{$vo.goodname}</option>
                            {/volist}
                        </select>
                        <span class="t1">查询类别：</span>
                        <select name="ktype" id="">
                            <option value="order" {:input('ktype')=='order'?"selected":'';}>订单号</option>
                            <option value="contact" {:input('ktype')=='contact'?"selected":'';}>购买者信息</option>
                        </select>
                        <input type="text" name="keyword" value="{:input('keyword')}" placeholder="">
                        <button class="btn1">查询</button>
                        <!--<button class="btn2">批量关闭未支付订单</button>-->
                    </div>
                    <input type="hidden" name="do" value="search">
                </form>
                <table>
                    <thead>
                    <tr>
                        <td style="text-align:left">交易时间</td>
                        <td style="text-align:left">订单编号</td>
                        <td>商品名称</td>
                        <td style="text-align:left">支付方式</td>
                        <td>金额</td>
                        <td>购买者信息</td>
                        <td>状态</td>
                        <td>管理</td>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>
                        <td style="text-align:left">{$vo.addtime}</td>
                        <td style="text-align:left;cursor: pointer;"><span class="blue" onclick="window.open('/orderquery?kw={$vo.orderid}')">{$vo.orderid}</span> </td>
                        <td>{$vo.goodname}（<span class="red">{$vo.quantity}</span> 张）</td>
                        <td style="text-align:left">{$vo.channelname}</td>
                        <td>{$vo.paymoney}</td>
                        <td>{$vo.contact}</td>
                        {if $vo.is_frozen=='0'}
                        <td>
                            <span class="state {$vo.is_buylist=='1'?'state1':'state2'}">{$vo.is_buylist=='1'?'已付款':'未付款'}</span>
                        </td>
                        {elseif $vo.is_frozen=='1'}
                        <td>
                            <span class="state" style="background-color: #0012e9">已冻结</span>
                        </td>
                        {/if}

                        <td>
                            {if $vo.is_state=='1'}
                            <span style="cursor: pointer;" class="state state2" onclick="togglestate({$vo.orderlistid},'0')">关</span>
                            {else/}
                            <span style="cursor: pointer;background-color: #33334f" class="state state2" onclick="togglestate({$vo.orderlistid},'1')">开</span>
                            {/if}
                            <span style="cursor: pointer" class="state state1" onclick="export_order('{$vo.orderlistid}')">导</span>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="pagination">
                    {$page}
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function togglestate(id,is_state) {
        $.post(
            "{:url('order/togglestate')}",
            {
                orderlistid: id,
                is_state: is_state,
            },
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg('操作成功', {time: 1000, icon: 6});
                    // $('#record_'+id).fadeOut();
                    parent.location.reload();
                } else {
                    layer.msg('操作失败', {time: 1000, icon: 5});
                }
            }
            ,"json"
        );
    }
</script>
<script>
    function export_order(orderlistid) {
        window.location.href = "{:url('order/exportorder')}?orderlistid="+orderlistid;
    }
</script>
{include file="common/footer" /}
