{include file="common/header" /}
<link href="{$open}/openin.css" rel="stylesheet">
<link href="{$open}/open.css" rel="stylesheet">
<link rel="stylesheet" href="{$flag}/font-awesome.min.css">
<style>
    .icon{
        text-align: center;
    }
</style>

<body>
{include file="common/top_nav" /}
{include file="common/left_nav" /}
<div class="main auto">
    <div class="main_wrap">
        <div class="m_top clearfix">
            <a href="javascript:;" class="build_cat" id="buildChanButton" style="display: none;" onclick="showContent('新建通道','{:url('channel/add')}','420px','614px')">+ 新建通道</a>
        </div>
        <div class="m_content">
            <table class="pub_table">
                <thead>
                <th width="7%">通道ID</th>
                <th width="14%">通道名称</th>
                <th width="10%">支付通道</th>
                <th width="10%">商户分成</th>
                <th width="10%">状态</th>
                <th width="10%">平台分成</th>
                <th width="10%">接入商家</th>
                <th width="14%">操作</th>
                </thead>
                {volist name="list" id="vo"}
                <!--<form action="{:url('channel/del')}" method="post">-->
                <tr>
                    <td>{$vo.channelid}</td>
                    <td>
                        <em class="c_purple">{$vo.channelname}</em>
                    </td>
                    <td>{$vo.payway}</td>
                    <td>{$vo.userproportion}</td>
                    <td>
                        {if $vo.is_state=='1'}
                        <em class="c_green">已开通</em>
                        {elseif $vo.is_state=='0'}
                        <em style="color: #999">已关闭</em>
                        {/if}
                    </td>
                    <td>{$vo.ptproportion}</td>
                    <td>{$vo.providername}</td>
                    <td>
                        <a href="javascript:void(0);" class="icon edit" onclick="showContent('编辑通道','{:url('channel/edit','channelid='.$vo.channelid)}','420px','614px')"></a>
                        <!--<a href="#" class="icon email"></a>-->
                        <a href="javascript:void(0);" class="icon delete" onclick="del({$vo.channelid})" style="display: none;"></a>
                        <!--<button type="submit">123</button>-->
                    </td>
                </tr>
                <input type="hidden" name="channelid" value="{$vo.channelid}">
                <!--</form>-->
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function () {
    });
</script>
<script>
    function del(channelid) {
        $.post(
            "{:url('channel/del')}",
            {
                channelid:channelid
            },
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.parent.location.reload();
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        );
    }
</script>
{include file="common/footer" /}
