{include file="common/header" /}
<link href="{$open}/openin.css" rel="stylesheet">
<link href="{$open}/open.css" rel="stylesheet">
<link rel="stylesheet" href="{$flag}/font-awesome.min.css">
<style>
    .icon{
        text-align: center;
    }
    .laydate-set-ym {
        height: 30px;
        line-height: 30px;
        margin-top: -3px;
    }
</style>

<body>
{include file="common/top_nav" /}
{include file="common/left_nav" /}
<div class="main auto">
    <div class="main_wrap">
        <div class="m_top clearfix">
            <div class="m_search fl clearfix">
                <form class="layui-form" action="">
                    <div class="s_box clearfix fl">
                        <div class="s_input fl">
                            <input style="cursor: pointer" type="text" name="from_time" id="from_time" class="ipt ipt_txt" value="{:input('from_time')}" placeholder="请选择开始日期" readonly>
                        </div>
                        <em class="y_line fl"></em>
                        <div class="s_input fl">
                            <input style="cursor: pointer" type="text" name="to_time" id="to_time" class="ipt ipt_txt" value="{:input('to_time')}" placeholder="请选择日期" readonly>
                        </div>
                        <em class="y_line fl"></em>
                        <div class="s_select fl">
                            <select name="ktype">
                                <option value="userid" {:input('ktype')=='userid'?"selected":'';}>商户ID</option>
                                <option value="goodname" {:input('ktype')=='goodname'?"selected":'';}>商品名称</option>
                                <option value="catename" {:input('ktype')=='catename'?"selected":'';}>分类名称</option>
                            </select>
                        </div>
                        <em class="y_line fl"></em>
                        <div class="s_input fl">
                            <input type="text" name="keyword" class="ipt ipt_txt" value="{:input('keyword')}"/>
                        </div>
                    </div>
                    <button class="search_btn fl">搜索</button>
                    <input type="hidden" name="do" value="search">
                </form>
            </div>
        </div>
        <div class="m_content">

            <table class="pub_table">
                <thead>
                <th width="7%">商户ID</th>
                <th width="40%">商户名称</th>
                <th width="15%">所属商品分类</th>
                <th width="15%">添加时间</th>
                <th width="7%">状态</th>
                <th width="11%">操作</th>
                </thead>
                <tbody>
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.userid}</td>
                    <td>
                        <em class="c_purple">{$vo.goodname}</em>
                    </td>
                    <td>{$vo.catename}</td>
                    <td>
                        {$vo.addtime}
                    </td>
                    {if $vo.is_state=='1'}
                    <td style="cursor: pointer" onclick="togglestate({$vo.goodlistid},'0')">{$vo.is_trush=='1'?'已删除':'已上架'}</td>
                    {else/}
                    <td style="color: #e3e3e3;cursor: pointer;" onclick="togglestate({$vo.goodlistid},'1')">{$vo.is_trush=='1'?'已删除':'已下架'}</td>
                    {/if}
                    <td>
                        <!--<a href="#" class="icon download"></a>-->
                        <a href="{:url('userlist/login','userid='.$vo.userid)}" class="icon success" target="_blank"></a>
                        {if $vo.is_state=='1'}
                        <a href="" class="icon refesh" onclick="togglestate({$vo.goodlistid},'0')"></a>
                        {else/}
                        <a href="" style="background-color: #eaeef3;" class="icon refesh" onclick="togglestate({$vo.goodlistid},'1')"></a>
                        {/if}
                        {if $vo.is_trush=='1'}
                        <a href="" style="background-image: url({$images}/icon_30-1.png);" class="icon delete" onclick="del('{$vo.goodlistid}','0');return false;"></a>
                        {else/}
                        <a href="" class="icon delete" onclick="del('{$vo.goodlistid}','1');return false;"></a>
                        {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    {$page}
</div>

<script>
    layui.use(['form','laydate'], function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#to_time' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#from_time' //指定元素
        });
    });
</script>
<script>
    function togglestate(id,is_state) {
        $.post(
            "{:url('goodslist/togglestate')}",
            {
                goodlistid: id,
                is_state: is_state,
            },
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg('操作成功', {time: 1000, icon: 6});
                    // $('#record_'+id).fadeOut();
                    parent.location.reload();
                } else {
                    layer.msg('操作失败', {time: 1000, icon: 5});
                }
            }
            // ,"json"
        );
    }
</script>
<script>
    function del(id,is_trush) {
        $.post(
            "{:url('goodslist/del')}",
            {
                goodlistid:id,
                is_trush:is_trush
            },
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.parent.location.reload();
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        );
    }
</script>
{include file="common/footer" /}
