{include file="common/header" /}
<body>
{include file="common/top_nav" /}

<div class="main clearfix">
    {include file="common/left_nav" /}

    <div class="container withdraw scroll">
        <div class="box init b1">
            <div class="title">申请提现<span>Application for withdrawal </span></div>

            <div class="none-box">
                <img src="{$images}/nocash83a3.png" alt="">
                <p>当前账户可申请结算 <span class="money"> 金额不足</span> ，暂不能申请结算！ </p>
                <p class="t1">如果<span class="time">3</span> 秒后没有跳转，<a href="">请点击这里继续</a></p>
            </div>
            <div class="full-box">
                <form action="" class="clearfix">
                    <div class="item clearfix">
                        <span class="left">商户编号</span>
                        <div class="right">
                            {:session('user.userid')}
                        </div>
                    </div>
                    <div class="item clearfix">
                        <span class="left">账号名称</span>
                        <div class="right">
                            {:session('user.username')}
                        </div>
                    </div>
                    <div class="item clearfix">
                        <span class="left">收款方式</span>
                        <div class="right">
                            <input type="text" value="{$list.ptype=='1'?'支付宝':$list.ptype=='2'?'银行卡':$list.ptype=='3'?'微信':''}" readonly>
                            <span class="tip">
									 请确认您的收款方式是否正确，账号有问题请先修改后在申请
								</span>
                        </div>
                    </div>
                    {if ($list.ptype=='1')}
                    <div class="item clearfix">
                        <span class="left">支付宝账号</span>
                        <div class="right">
                            <input type="text" value="{$list.alipay}" readonly>
                            <span class="tip">
									 请确认您的收款账号是否正确，账号有问题请先修改后在申请
								</span>
                        </div>
                    </div>
                    {/if}
                    {if ($list.ptype=='2')}
                    <div class="item clearfix">
                        <span class="left">银行卡账号</span>
                        <div class="right">
                            <input type="text" value="{$list.card}" readonly>
                            <span class="tip">
									 请确认您的收款账号是否正确，账号有问题请先修改后在申请
								</span>
                        </div>
                    </div>
                    {/if}
                    <div class="item clearfix">
                        <span class="left">可提现金额</span>
                        <div class="right">
                            <span class="text">{$unpayment?$unpayment:'0.00';}元</span>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <span class="left">申请提现金额</span>
                        <div class="right">
                            <input type="text" value="{$unpayment?$unpayment:'0.00';}" readonly>
                            <span class="ext">元</span>
                            <span class="tip">大于100元，系统自动结算，手动申请的话，会扣除1元手续费！</span>
                        </div>
                    </div>
                </form>
                <div class="btn">
                    <button class="t1" type="button" onclick="submitform()">申请结算</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function submitform() {
        // var test = $("#ajaxform").serialize();
        $.post(
            "{:url('withdraw/add')}",
            // $("#ajaxform").serialize(),
            function (data) {
                // console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.parent.location.reload();
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            , "json"
        );
    }
</script>
{include file="common/footer" /}
