{include file="common/header" /}
<script src="{$js}/bootstrap.min.js"></script>

<link href="{$css}/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{$css}/core.css" rel="stylesheet" type="text/css">
<link href="{$css}/menu.css" rel="stylesheet" type="text/css">
<link href="{$css}/nav.css" rel="stylesheet">
<link href="{$css}/dropify.min.css" rel="stylesheet" type="text/css">

<script src="{$js}/dropify.min.js"></script>
<body class="fixed-left widescreen">
<div id="wrapper">
    {include file="common/top_nav" /}
    {include file="common/left_nav" /}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="add-title clear">
                                添加优惠券
                            </div>
                            <div class="row">
                                <form class="form-horizontal" role="form" action="{:url('ac/addsave')}" method="post" enctype="multipart/form-data" id="ajaxform">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">选择商品分类</label>
                                        <div class="col-md-4">
                                            <select name="goodlistid" class="form-control">
                                                <option value="is_all">全部</option>
                                                {volist name="arr" id="vo"}
                                                <option value="{$vo.goodlistid}">{$vo.goodname}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">折扣面额</label>
                                        <div class="col-md-4">
                                            <input name="amount" type="text" class="form-control" value="1">
                                        </div>
                                        <div class="col-md-6">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">生成数量</label>
                                        <div class="col-md-4">
                                            <input name="count" type="number" class="form-control" value="1" min="1">
                                        </div>
                                        <div class="col-md-6">
                                            <p class="form-control-static">最多一次生成200张。</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">有效期（天）</label>
                                        <div class="col-md-4">
                                            <select name="validity" class="form-control">
                                                <?php for ($i = 1; $i <= 30; $i++): ?>
                                                <option value="{$i}">{$i}天</option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="form-control-static">过期优惠券系统将自动清理。</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">备注信息</label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" name="remark" id="" cols="30" rows="6" maxlength="100"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" style="padding-top:0;">导出到文本txt</label>
                                        <div class="col-md-4">
                                            <input type="checkbox" name="is_export" id="c1" value="1">
                                            <label for="c1">添加完成后导出优惠券到文本txt</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="form-control-static"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-4">
                                            <button type="button" onclick="export_order()" class="btn btn-purple waves-effect waves-light">执行导入</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- container -->
        </div>
        <!-- content -->

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<script>
    function submitform() {
        if($("input[name='is_export']").is(':checked')){
            console.log(1);
            if(export_order()) {
                setTimeout('window.location.reload()', 3000);
            }
        }else {
            $.post(
                "{:url('ac/addsave')}",
                $("#ajaxform").serialize(),
                function (data) {
                    data = eval("(" + data + ")");
                    // console.log(data);
                    if (data.status == '1') {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.parent.location.reload();
                        });
                    } else if(data.status=='0') {
                        layer.msg(data.msg, {
                            icon: 5,
                            time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                        });
                    }
                }
                // , "json"
            );
        }
    }
</script>

<script>
    function export_order() {
        var amount = $('[name="amount"]').val();
        var count = $('[name="count"]').val();
        var validity = $('[name="validity"]').val();
        var goodlistid = $('[name="goodlistid"]').val();
        var remark = $('[name="remark"]').val();
        window.location.href = "{:url('ac/export')}?amount=" + amount + "&count=" + count + "&validity=" + validity + "&goodlistid=" + goodlistid + "&remark=" + remark;
        return true;
    }
</script>
{include file="common/footer" /}
