<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$qtarr['sitename']} - {$qtarr.sitetile}</title>
    <meta name="description" content="{$qtarr.description}" />
    <meta name="keywords" content="{$qtarr.sitekeyword}" />
    <meta name="baidu-site-verification" content="{$qtarr.baidu_verification}" />
    <link rel="stylesheet" href="{$css}/swiper.min.css">
    <link rel="stylesheet" href="{$css}/lsy.min.css">
    <link rel="stylesheet" href="{$css}/lsy_mobile.min.css">
    <link rel="stylesheet" href="{$css}/animate.min.css">
    <script src="{$js}/hm.js"></script>
    <script src="{$js}/jquery-2.2.1.min.js"></script>
    <script src="{$js}/swiper.min.js"></script>
</head>