{include file="common/header" /}
<body style="background: url('{$images}/se5_bg.jpg')">
{include file="common/orhter_top_nav" /}
<div class="se5_card" style="margin: 60px auto">
    <div class="news_nav">
        <a href="{:url('index/help')}" class="actived" style="width: 100%">使用帮助</a>
        <!--<a href="{:url('index/baike')}">商家百科</a>-->
        <!--<a href="{:url('index/notice')}">最新公告</a>-->
    </div>
    <div class="clear"></div>
    <!--<div class="search_box" style="margin-top: 12px"><i class="iconfont icon-sousuo"></i><input type="text" placeholder="请输入你的关键字" class="order_input"><button>搜 索</button></div>-->
    <div class="main_box">
        <ul id="news">
            <li >
                <div class="date"><b>18</b><br><br>08 / 2018</div>
                <div class="news_text">
                    <p><a>Q：自动发卡平台如何成为会员</a>A：发卡网顶部导航栏右侧，点击“注册”按钮完成注册。</p>
                </div>
            </li>
            <li>
                <div class="date"><b>20</b><br><br>08 / 2018</div>
                <div class="news_text">
                    <p><a>Q：成为会员后如何卖卡密</a>A：登陆账号后，先创建分类，再创建商品，添加卡密信息后，发布自己的链接让买家购买。</p>
                </div>
            </li>
            <li>
                <div class="date"><b>27</b><br><br>08 / 2018</div>
                <div class="news_text">
                    <p><a>Q：卡密怎样自动发卡，需要设置吗？</a>A：确保库存足够，买家购买商品后，该商品下有库存卡密会自动发给买家。无需另外设置。</p>
                </div>
            </li>
            <li>
                <div class="date"><b>10</b><br><br>09 / 2018</div>
                <div class="news_text">
                    <p><a>Q：卖断货了，平台有提示吗？</a>A：当买家已经付款，该商品恰好卖断货，您设置的邮箱账号会收到一封邮件通知，提醒您及时补库存。</p>
                </div>
            </li>
            <li>
                <div class="date"><b>22</b><br><br>09 / 2018</div>
                <div class="news_text">
                    <p><a>Q：补货了，如何自动发卡？</a>A：您可以给买家订单查询链接，买家查询订单时，若库存足够，系统会自动发卡，无需另外设置。</p>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <!--<nav class="m-page">-->
            <!--<a href="#" class="pageprv z-dis"></a>-->
            <!--<a href="#" class="z-crt">1</a>-->
            <!--<a href="#">2</a>-->
            <!--<a href="#" >3</a>-->
            <!--<a href="#" >4</a>-->
            <!--<i>...</i>-->
            <!--<a href="#" >10</a>-->
            <!--<a href="#" class="pagenxt"></a>-->
        <!--</nav>-->
        <!--<div class="clear"></div>-->
    </div>
</div>
{include file="common/footer" /}
