{include file="common/header" /}
<body>
<div id="fullpage">
<section class="section1 section">
    {include file="common/top_nav" /}
    <div class="container">
        <div class="right_img wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <img src="{$images}/se1_right_img.png" alt="">
        </div>
        <div class="left_txt wow fadeInLeft" data-wow-duration="1s">
            <h1>全新发卡体验</h1>
            <p>全响应式界面，简约易操作，一站式寄售卡，为你稳定服务。<br>商品管理、订单记录、收益统计、渠道分析...</p>
            <a href="" class="shop_btn1"><span class="linear_txt"><i class="iconfont icon-you"></i>注册成为商户</span></a>
        </div>
        <div class="clear"></div>
        <ul class="zf_icons">
            <li><img src="{$images}/zf_icon1.jpg" alt=""></li>
            <li><img src="{$images}/zf_icon2.jpg" alt=""></li>
            <li><img src="{$images}/zf_icon3.jpg" alt=""></li>
            <li><img src="{$images}/zf_icon4.jpg" alt=""></li>
            <li><img src="{$images}/zf_icon5.jpg" alt=""></li></ul>
    </div>
</section>
<section class="section2 section">
    <div class="container">
    <div class="se2_left_txt wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
        <span class="linear_txt">关于我们 / about us</span>
        <h3>致力于为用户提供一站式服务的创新型未来互联网企业</h3>
        <p>{$qtarr['sitename']}-{$qtarr['siteurl']}是一家专注于移动互联网领域，致力于为用户提供便捷式应用程序的创新型未来互联网企业。<br><br>
            {$qtarr['sitename']}科技旗下产品均使用轻简约风格，应用程序使用简单，界面排版简约明了。用极客精神做产品，用互联网思维为用户提供更好的服务是我们的初衷。</p>
        <a href=""><span class="linear_txt"><i class="iconfont icon-you"></i>注册成为商户</span></a>
    </div>
    <div class="right_card wow fadeInUp" data-wow-duration="2s">
        <ul><li><div><img src="{$images}/se2_card2.png" alt=""></div><span class="card_txt"><h3>诚信第一</h3><p>诚信永远是X发卡自动发卡平台的经营之本，我们抱诚守真尊重、爱护平台的每一位商户以及买家。</p></span></li>
            <li><div><img src="{$images}/se2_card1.png" alt=""></div><span class="card_txt"><h3>匠心精神</h3><p>自动发卡平台开发团队成员均有长达3年以上的开发经验，匠心精神，铸就高品质体验。</p></span></li>
            <li><div><img src="{$images}/se2_card4.png" alt=""></div><span class="card_txt"><h3>商户风控</h3><p>平台每个商户都经过X发卡自动发卡平台风控组筛选，商户信誉有保障。</p></span></li>
            <li><div><img src="{$images}/se2_card3.png" alt=""></div><span class="card_txt"><h3>价格公道</h3><p>平台所有的支付渠道,均有X发卡自动发卡平台平台自主申请对接,杜绝高费率第三方支付。</p></span></li></ul>
    </div>
    </div>
</section>
<section class="section3 section">
    <div class="container">
        <div class="se2_left_txt">
            <span class="linear_txt">平台优势 / advantage</span>
            <h3>为商户及其买家提供，便捷、绿色、安全、快速的销售和购买体验。</h3>
            <img src="{$images}/se3_left_img.png" alt="" class="se3_left_img wow fadeInUp" data-wow-duration="1s">
        </div>
        <div class="se3_right wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
            <ul>
                <li><img src="{$images}/se3_icon1.png" alt=""><span><h3>服务器安全</h3><p>采用群集服务器，防御高遍布全球，无论用户身在何处，均能获得流畅安全可靠的体验。</p></span><div class="clear"></div></li>
                <li><img src="{$images}/se3_icon2.png" alt=""><span><h3>资金保障</h3><p>商户的资金，全部是次日结算当天到账，资金平均停留的时间不超过12小时，您的资金安全将得到充分的保障。</p></span><div class="clear"></div></li>
                <li><img src="{$images}/se3_icon1.png" alt=""><span><h3>费率超低</h3><p>支付渠道直接对接官方，直接去掉中间商的差价，因此我们可以给商户提供更低廉的费率。</p></span><div class="clear"></div></li>
                <li><img src="{$images}/se3_icon2.png" alt=""><span><h3>操作简单</h3><p>简约的UI交互体验可以给您一个体验度极高的商户后台，更好的下单体验</p></span><div class="clear"></div></li>
            </ul>
        </div>
    </div>
</section>
<section class="section4 section">
    <div class="container">
        <div class="se4_title"><span>行业解决方案 / solution</span><h3>专业技术服务团队7*24小时贴心服务</h3></div>
        <div class="se4_cards wow fadeInUp" data-wow-duration="2s">
        <ul>
            <li><div><img src="{$images}/se4_icon1.png" alt=""><h3>激活码解决方案</h3><p>软件解决方案为企业及开发者提供灵活弹性自动化的全自动发卡服务、自动发卡服务模式及低成本的运维服务体系，帮助客户推动企业核心业务创新发展。</p></div><img src="{$images}/se4_card1.jpg" alt="" width="300"></li>
            <li><div><img src="{$images}/se4_icon2.png" alt=""><h3>账号解决方案</h3><p>账号类交易为客户提供量身定制的账号自动交易，24小时无人值守，全自动销售，高品质保障的售后服务机制，帮助需求用户业务放心稳定发展。</p></div><img src="{$images}/se4_card2.jpg" alt="" width="300"></li>
            <li class="actived"><div><img src="{$images}/se4_icon3.png" alt=""><h3>CDK解决方案</h3><p>适用于各类游戏CDK交易，游戏礼包CDK交易，游戏激活码交易，全天24小时任意购买，省心，省事，收益瞬间提高。满足需求用户的要求。</p></div><img src="{$images}/se4_card3.jpg" alt="" width="300"></li>
            <li><div><img src="{$images}/se4_icon4.png" alt=""><h3>虚拟物品解决方案</h3><p>适用于各类游戏CDK交易，游戏礼包CDK交易，游戏激活码交易，全天24小时任意购买，省心，省事，收益瞬间提高。满足需求用户的要求。</p></div><img src="{$images}/se4_card4.jpg" alt="" width="300"></li>
        </ul>
        </div>
    </div>
</section>
<section class="section5 section">
    <div class="se5_card wow fadeInUp" data-wow-duration="2s">
        <div class="se5_left"><img src="{$images}/ewm.jpg" alt="" height="200"><br>扫一扫关注官微</div>
        <div class="se5_right">
            <ul>
                <li><img src="{$images}/se5_icon3.png" alt=""><span><h3>公司地址</h3><p>{$qtarr.address} 工作时间：早8:30 - 晚18:00</p></span><div class="clear"></div></li>
                <li><img src="{$images}/se5_icon1.png" alt=""><span><h3>联系客服</h3><p>客服QQ：<b>{$qtarr.qq}</b></p></span><div class="clear"></div></li>
                <li><img src="{$images}/se5_icon2.png" alt=""><span><h3>业务咨询</h3><p>咨询电话：<b>{$qtarr.tel}</b></p></span><div class="clear"></div></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <footer>
        <div class="container">
        <p>{$qtarr['copyright']}<br>ICP备案：{$qtarr.icp}</p>
        </div>
    </footer>
</section>
</div>

<script>
$(function(){
    $('#fullpage').fullpage({
        scrollingSpeed:300,
        loopBottom:true,
        anchors: ['page1', 'page2', 'page3', 'page4','page5'],
        resize:false,
        scrollBar: true,
        afterRender:function(){
            wow = new WOW({
                animateClass: 'animated',
            });
            wow.init();
        }
    });
    $('.se4_cards li div>p').addClass('animated fadeInUp');
    $('.se4_cards li').mousemove(function () {
        $(this).addClass('actived').siblings('li').removeClass('actived');
    });
    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();//文档上卷高度
        if(scrollTop >= $(window).height()){
            $('header').addClass('header_fix');
            $('.toTop').fadeIn();
        }
        if(scrollTop < $(window).height()){
            $('header').removeClass('header_fix');
            $('.toTop').fadeOut();
        }
    });
});
</script>
{include file="common/footer" /}
