{include file="common/header" /}
<body>
<!-- 顶部 -->
<!--部分页面top后面有style样式添加-->
<div class="top" style="padding-bottom: 0">
    <div class="top_con">
        <span>最近卖出</span>
        <a class="back" href="{:url('/')}"><img src="{$images}/back.png" width="7" height="11"></a>
        <a class="user_name"><i class="iconfont icon-mine"></i></a>
    </div>
</div>
<!-- 列表 -->
<div class="list_bg">
    <form action="" method="get">
        <table border="0" cellspacing="0" cellpadding="0" class="tab1">
            <tr>
                <td>
                    <select name="goodlistid" onchange="window.location.href='{:url('/sold')}?goodlistid='+this.value+'&do=search'">
                        <option value="">全部商品</option>
                        {volist name="goodlist_arr" id="vo"}
                        <option value="{$vo.goodlistid}" {:input('goodlistid')==$vo.goodlistid?"selected":'';}>{$vo.goodname}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" name="do" value="search">
    </form>
    <ul>
        {volist name="list" id="vo"}
        <li>
            <div class="j_box_title">{$vo.goodname}<a class="j_price">商品价格：{$vo.paymoney}元</a></div>
            <div class="j_box_con">
                <p>
                <a href="javascript:;" class="j_link" onclick="showContent('查看卡密','{:url('sold/link','orderlistid='.$vo.orderlistid)}','70%','70%')">查看卡密</a>(1张)<br>
                购买者： {$vo.contact}
                </p>
                <p>{$vo.channelname}<br><font><strong>+{$vo.paymoney*$vo.userproportion}元</strong></font></p>
                <div id="clear"></div>
            </div>
        </li>
        {/volist}
    </ul>
</div>
<style>
    .pagination {
        /*padding: 32px 0;*/
        text-align: left;
        font-size: 12px;
        color: #666;
        position: relative;
    }
    .m-pages a{
        margin: 0;
        padding: 0;
        background: transparent;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid #e3e5eb;
        border-left: 1px solid #e3e5eb;
        border-top: 1px solid #e3e5eb;
        display: inline-block;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-align: center;
        vertical-align: top;
        width: 30px;
    }
</style>
<div class="pagination">
    {$page}
</div>
{include file="common/footer" /}
