<!--<link rel="stylesheet" href="{$flag}/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="{$flag}/layeropen.css?v=1">-->
<link rel="stylesheet" href="{$layui}/css/layui.css">


<script src="{$js}/jquery-2.2.1.min.js"></script>
<script src="{$layer}/layer.js"></script>
<script src="{$layui}/layui.js" charset="utf-8"></script>


<style>
    /**{*/
        /*margin:0;padding:0;border:0;font-weight:normal;vertical-align:baseline;background:transparent;*/
    /*}*/

    body{
        overflow-y: hidden;
    }
    /*顶部显示圆角显示*/
    #layui-layer-iframe2{
        border-radius: 6px;

    }
    .clearfix{*zoom: 1;}
    .clearfix:before,.clearfix:after
    {display: table;line-height: 0;content: "";}
    .clearfix:after{clear: both;}
    .t_title {
        font-size: 20px;
        color: #333333;
        text-align: center;
        line-height: 48px;
        border-bottom: 1px solid #ddd;
    }
    /*body部分*/
    .pop_balance {
        width: 800px;
        display: block;
    }
    /*body部分*/

    /*box部分*/
    .detail {
        padding: 40px 70px 40px 60px;
    }
    /*box部分*/

    /*row box部分*/
    .pop_form .row {
        margin-bottom: 20px;
    }
    /*row box部分*/

    /*row部分*/
    .pop_request_back .tit {
        width: 130px;
    }
    .pop_form .tit {
        text-align: right;
        display: block;
        float: left;
        line-height: 35px;
        font-size: 14px;
        color: #333333;
    }
    .pop_request_back .info {
        width: 515px;
        line-height: 35px;
    }
    .pop_form .info {
        float: right;
        line-height: 35px;
    }
    .c_red {
        color: #f4526c!important;
    }
    em, i {
        font-style: normal;
    }
    /*row部分*/

    /*row input元素部分*/
    .pop .ipt_txt {
        width: 100%;
    }
    .pop_form .ipt {
        padding: 0 20px;
        border: 1px solid #ddd;
        height: 35px;
        line-height: 35px;
    }
    input[type="button"], input[type="submit"], input[type="reset"], input[type="text"] {
        -webkit-appearance: none;
    }
    .ipt {
        display: block;
    }
    /*row input元素部分*/

    /*row select元素部分*/
    .pop_select {
        width: 100%;
        text-align: left;
    }
    .fl {
        float: left;
    }
    body, input, h1, h2, h3, h4, h5, h6, p, textarea, table, div, ul, li, select {
        font-family: Microsoft YaHei;
        margin: 0;
        padding: 0;
        color: inherit;
        line-height: 1;
    }
    /*row select元素部分*/

    /*row button元素部分*/
    .pop_form .ipt_button:hover {
        box-shadow: 0 0 5px #5967dc;
    }
    .pop_request_examine .ipt_button {
        margin-top: 40px;
    }
    .pop_form .ipt_button {
        width: 140px;
        height: 40px;
        background: #5967dc;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        color: #fff;
        border: none;
        margin: 0 auto;
        display: block;
    }
    .ipt_button {
        cursor: pointer;
    }
    .pop_balance .sd {
        background: #54c669;
    }
    .pop_balance .erweima {
        background: #e3a048;
    }
    /*row button元素部分*/

    /*row textarea元素部分*/
    .pop_textarea {
        display: block;
        width: 100%;
        height: 110px;
        border: 1px solid #ddd;
        padding: 10px 20px;
        font-size: 14px;
        color: #333;
        resize: none;
    }
    .pop_textarea:hover {
        transition: all .2s;
    }
    textarea {
        -webkit-appearance: none;
    }
    /*row textarea元素部分*/

    /*row layerui select 部分*/
    .layui-form-select dl dd.layui-this {
        background-color: #706ac9;
    }
    .layui-form-select .layui-edge {
        background: url({$images}/icon_14.png) no-repeat right center;
        background-size: cover;
        width: 10px;
        height: 6px;
        margin-top: -3px;
        border-style: initial;
    }
    /*row layerui select 部分*/
</style>
<div class="pop pop_request_back">
    <a href="javascript:;" class="close"></a>
    <h5 class="t_title">处理退款</h5>
    <div class="detail">
        <form class="layui-form" action="" id="ajaxform">
            <div class="pop_form">
                <div class="row clearfix">
                    <span class="tit">平台处理</span>
                    <div class="info">
                        <div class="pop_select fl">
                            <select name="refund_status">
                                <option value="1" {$list.refund_status=='1'?'selected':''}>退款成功</option>
                                <option value="0" {$list.refund_status=='0'?'selected':''}>待处理</option>
                                <option value="2" {$list.refund_status=='2'?'selected':''}>退款中</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">买家投诉时联系方式</span>
                    <div class="info">
                        {$list.maijia_contact}
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">买家投诉时电话号码</span>
                    <div class="info">
                        {$list.maijia_telephone}
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">买家付款时联系方式</span>
                    <div class="info">
                        {$list.maijia_contact_pay}
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">订单实付金额</span>
                    <div class="info">
                        <em class="c_red">{$list.maijia_pay}元</em>
                    </div>
                </div>

                <div class="row clearfix">
                    <span class="tit">买家退款账号</span>
                    <div class="info">
                        <input type="text" name="refund_account" value="{$list.refund_account}" class="ipt ipt_txt" placeholder="请填写您要退款的买家的账号" maxlength="32"/>
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">退款金额</span>
                    <div class="info">
                        <input type="text" name="refund_price" value="{$list.refund_price}" class="ipt ipt_txt" placeholder="请填写您要退款的金额" maxlength="7"/>
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">备注</span>
                    <div class="info">
                        <textarea name="refund_remark" id="" class="pop_textarea" placeholder="可填写当前处理状态" maxlength="255">{$list.refund_remark}</textarea>
                    </div>
                </div>
                <div class="row clearfix">
                    <span class="tit">处理时间</span>
                    <div class="info">
                        <em >{$list.refund_time}</em>
                    </div>
                </div>
                <input type="button" value="保存用户" class="ipt_button" onclick="submitform();return false;"/>
            </div>
            <input type="hidden" name="id" value="{$list.id}">
        </form>
    </div>
</div>

<script>
    layui.use(['form'], function () {
    });
</script>

<script>
    function submitform() {
        $.post(
            "{:url('tousu/tuikuansave')}",
            $("#ajaxform").serialize(),
            function (data) {
                console.log(data);
                data = eval("(" + data + ")");
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.parent.location.reload();
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        );
    }
</script>
