{include file="common/header" /}
<link href="{$open}/openin.css" rel="stylesheet">
<link href="{$open}/open.css" rel="stylesheet">
<script src="{$open}/open.js"></script>
<style>
    input[type=password]{
        display: inline-block;
        height: 40px;
        line-height: 38px;
        border: 1px solid #e3e5eb;
        padding-left: 16px;
        border-radius: 4px;
        width: 400px;
    }
</style>
<body>
{include file="common/top_nav" /}

<div class="main clearfix">
    {include file="common/left_nav" /}

    <div class="container safety scroll">
        <div class="box init b1">
            <div class="title">安全设置
                <span>security settings</span></div>
            <div class="subtitle">修改密码</div>
            <form action="" class="clearfix" id="ajaxform">
                <div class="item clearfix">
                    <span class="left">原密码</span>
                    <div class="right">
                        <input name="old_password" type="password" placeholder="原密码" minlength="6" maxlength="20" value="">
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">新密码</span>
                    <div class="right">
                        <input name="password" type="password" placeholder="新密码" minlength="6" maxlength="20" value="">
                    </div>
                </div>
                <div class="item clearfix">
                    <span class="left">重新输入新密码</span>
                    <div class="right">
                        <input name="confirm_password" type="password" placeholder="确认新密码" minlength="6" maxlength="20" value="">
                    </div>
                </div>
                <div class="btn">
                    <button class="t1" onclick="submitform();return false;">保存设置</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script>
    function submitform() {
        var old_password = $('input[name="old_password"]').val();
        var password = $('input[name="password"]').val();
        var confirm_password = $('input[name="confirm_password"]').val();
        if(old_password=='') {
            layer.msg('请输入原密码', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="old_password"]').focus();
            return false;
        }
        if(old_password.length<6) {
            layer.msg('原密码至少6位', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="old_password"]').focus();
            return false;
        }
        if(password=='') {
            layer.msg('请输入新密码', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="password"]').focus();
            return false;
        }
        if(password.length<6) {
            layer.msg('新密码至少6位', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="password"]').focus();
            return false;
        }
        if(confirm_password=='') {
            layer.msg('请输入确认新密码', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="confirm_password"]').focus();
            return false;
        }
        if(confirm_password.length<6) {
            layer.msg('确认新密码至少6位', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="confirm_password"]').focus();
            return false;
        }
        if(password!=confirm_password) {
            layer.msg('新密码输入和确认新密码不一致', {
                icon: 5,
                time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
            });
            $('input[name="confirm_password"]').focus();
            return false;
        }
        $.post(
            "{:url('safety/retsave')}",
            $("#ajaxform").serialize(),
            function (data) {
                data = eval("(" + data + ")");
                // console.log(data);
                if (data.status == '1') {
                    layer.msg(data.msg, {
                        icon: 6,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                        // window.location.href = "{:url('/login')}";
                    });
                } else if(data.status=='0') {
                    layer.msg(data.msg, {
                        icon: 5,
                        time: 1000 //1.5秒关闭（如果不配置，默认是3秒）
                    });
                }
            }
            // , "json"
        );
    }
</script>
{include file="common/footer" /}
